[2012-07-06 18:39] hakanensari opened #1 "Use Jeff"
As a marketplace seller, we want to use [Jeff](https://github.com/hakanensari/jeff) under the hood so we may work with MWS performantly.

The existing library API serves us well:

[code]

[2012-07-06 18:44] hakanensari opened #2 "Implement Reports API"
As a Marketplace seller, we want to download reports through MWS so we may lay the legacy AIM interface to rest.

[2012-07-06 18:48] hakanensari opened #3 "Implement Products API"
As a buyer, seller, and website, we want to know the product prices on Amazon so that we may make MONEY.

I'm imagining an API along the lines of:

[code]

Amazon is very verbose. Let's try to make the API less wordy without moving too much away from their verbage.

[2012-07-06 19:06] hakanensari opened #4 "SAX parsing"
It would be great to parse the MWS responses using a SAX parser instead of waiting for the whole response to load first. Fog has an [example implementation](https://github.com/fog/fog/blob/master/lib/fog/core/connection.rb).

Spike [Ox](https://github.com/ohler55/ox/) as well.

[2012-07-07 10:39] #1 closed, assigned to hakanensari

[2012-07-11 19:56] #3 closed, assigned to hakanensari

[2012-07-11 19:56] #4 closed, assigned to hakanensari

[2012-09-09 14:59] #2 closed, assigned to hakanensari

[2012-10-23 23:14] nelsonharst opened #5 "Backlog of uploads"
Noticing very large backlogs as per last week's troubleshooting. See report dated Saturday for amazon-1-de:

blackbook@gilles:~/app/current$ RAILS_ENV=production bundle exec rake catalog:count
4d4ac0f07ca8794c2900003bCatalog ID:
Listed: 890,905
Added: 158,954
Modified: 1,263,828
Deleted: 107,420

Listing count on open listings report is LOWER than above total.

This might be an issue with peddler,

[2012-10-24 10:08] #5 closed, assigned to nobody

[2013-10-03 20:34] nbarthel opened #9 "Jeff API deprecation breaks Peddler"
The endpoint override in lib/peddler/client.rb needs to be changed to aws_endpoint.

Also, I'm assuming you did a partial commit as the stubs for the new APIs aren't there.  I added them in a separate commit in my fork.

I can do a pull request(s) if you like.

[2013-10-04 10:00] #9 closed, assigned to nobody

[2013-10-08 13:03] hakanensari opened #11 "Parse Tab-Delimited Text Content"
Tab-Delimited responses seem to fall into two categories:
1. Regular tab-delimited files
2. Feed processing summaries

Regular files contain headers, need to be force-encoded into Windows-31J in Japan and ISO-8859-1 elsewhere. They also include double quotes, which need to be handled when parsing.

Feed processing summaries have two extra rows at the top summarising number of records processed and

[2013-10-14 11:28] hakanensari opened #12 "Stream-parse large feeds"
Instead of hogging memory, it would be neater to just stream large feeds into parser in the Feeds API. Off the top of my head, it feels the external API probably would not have to change. #each would simply return CSV rows or XML nodes as they come in.

[2013-11-01 03:36] bf4 opened #13 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2014-02-06 16:01] #13 closed, assigned to nobody

[2014-04-01 19:03] hakanensari opened #17 "The big rewrite"
Time to simplify this library:
- Delete all parsers. Just use Multi Xml.
- Flatten layout. Move clients and their requests one level up.
- Rewrite Structured List. It should not know about what keys constitute structured lists.

:sweat_drops:

[2014-04-08 14:32] #11 closed, assigned to nobody

[2014-04-08 14:32] #12 closed, assigned to nobody

[2014-04-08 14:32] #17 closed, assigned to nobody

[2014-05-05 22:11] wwqrd opened #20 "NotImplementedError"
Amazon is returning Content-Type "text", for the listings reports, which are "tab-delimited flat file" format, meaning that calling:

[code]

It looks like https://github.com/hakanensari/peddler/blob/master/lib/peddler/parser.rb#L14-21 is intended to handle this?

[2014-05-06 09:07] #20 closed, assigned to nobody

[2014-06-17 13:45] sqlninja opened #24 "Excon errors"
Hakan,
We have started using peddler recently to loop thru our orders to get both order and customer info.
We have been playing with the cycle time in order to not bump up against AMS’s throttle limit, and thus far a cycle of one request every 60 seconds has yielded the “most” results. Although after running for approx. two hours it finally error-ed out with the following:
Excon::Errors::ServiceUn

[2014-07-24 23:14] #24 closed, assigned to nobody

[2014-08-11 10:05] hakanensari opened #25 "Commit sanitised VCR fixtures to repo"

[2014-08-11 10:07] hakanensari opened #26 "Link to sample implementation in README"

[2014-08-12 11:58] #25 closed, assigned to nobody

[2014-08-12 21:08] JDutil opened #27 "CustomerInformation API"
I keep getting 404 responses when attempting to use the CustomerInformation API.

Do you know if this is indicative of the api access not being enabled on my account yet?

I've setup access to use the CustomerInformation API so I would expect this to work, but think it maybe something wrong on Amazon's end.

[2014-08-12 21:35] #27 closed, assigned to nobody

[2014-08-14 11:15] #26 closed, assigned to nobody

[2015-02-10 18:28] mushfick opened #29 "Expected(200) <=> Actual(400 Bad Request) (Excon::Errors::BadRequest) on list_inventory_supply()"
Hi, I'm not sure if I'm doing something incorrectly but I keep on getting the 400 bad request error when using fulfillment.list_inventory_supply()
I'm trying to use the :seller_sku_list argument to get a list of inventory for that SKU but I keep on getting the 400 error
I've tried using a time range and that works fine.
I've tried using an array and just a string value both, the same error still.

[2015-02-10 19:03] #29 closed

[2015-02-10 19:04] hakanensari commented on #29
I had a bad keyword. `seller_skus` should work fine.

[2015-02-10 20:12] mushfick commented on #29
Sweet, thanks! It's working fine now.

[2015-02-11 18:50] dawnd80 opened #30 "get_capture_details doesn't work"
Hi there, I can't seem to call get_capture_details to work. I looked into the source code:

def get_capture_details(amazon_capture_id)
        operation('GetAuthorizationDetails')
          .add('AmazonCaptureId' => amazon_capture_id)
       run
end

Should the operation be set to GetCaptureDetails? Thanks!

[2015-02-12 00:38] #30 closed

[2015-02-12 00:38] hakanensari commented on #30
Thanks @dawnd80

[2015-02-20 06:56] philsmy opened #31 "Using AuthToken gives 'missing secret' error"
Using the code from the read me on how to access another seller's mws (having been given there mws auth token) we get:
`ArgumentError: Missing secret`
from the Jeff library. That lib seems to require a secret.
I don't know if this is a bug with the jeff lib, but, as the read me implies this is working I think it is a bug inside here.

[2015-02-20 12:22] hakanensari commented on #31
You still have to use your own AWS key and secret in conjunction with the seller's auth token.

[2015-02-20 12:28] philsmy commented on #31
Great! I'm going to give that a try.
So in fact it is:

`client = MWS.orders(
  marketplace_id: "...",
  merchant_id:    "...",
  auth_token:     "...",
  aws_access_key_id:     "...",
  aws_secret_access_key: "..."
)

[2015-02-20 12:54] hakanensari commented on #31
That's correct.

[2015-02-20 17:51] #31 closed

[2015-02-25 15:55] jmcmains opened #32 "Error codes aren't helpful"
Running into a lot of issues where the connection will just fail, and I'll get a
"Excon::Errors::BadRequest: Expected(200) <=> Actual(400 Bad Request)"

I'm working mostly with creating new shipment plans and shipments. After digging for an hour I figured out that one of my skus (out of about 50) didnt have dimensions entered. Any way this error flow can be improved?

[2015-02-25 17:40] hakanensari commented on #32
While it won't relieve your earlier pain, take a look at the undocumented [`Client#on_error`](https://github.com/hakanensari/peddler/blob/master/lib/peddler/client.rb#L79-L81) hook.

I will leave this issue open until I add relevant documentation to the README and source. Also, I should possibly consider mirroring this method on the class level so users can define a universal error handler.

[2015-03-04 17:46] jmcmains opened #33 "Put Transport Content"
Running into another bug and I'm wondering if this is the issue:

code looks like this:
        def put_transport_content(shipment_id, is_partnered, shipment_type, transport_details)
            operation('PutTransportContent')
                .add(
                    'ShipmentId' => shipment_id,
                    'IsPartnered' => is_partnered,
                    'ShipmentType' => shipment_typ

[2015-03-05 07:57] hakanensari commented on #33
Yes, it does sound like the internals of `TransportDetails` are not built correctly.

What does your request look like? What does Amazon's response state? You can view latter by rescuing the error and inspecting the embedded response object.

[2015-03-05 13:47] jmcmains commented on #33
request:
TransportDetails is built like this:

    package_list=shipment.packages.map { |b|
        {
            "Weight" => {"Unit" => "pounds", "Value" => b.weight.to_i},
            "Dimensions" => {"Unit" => "IN", "Height" => b.height, "Width" => b.width, "Length" => b.length}
        }
    }

    transport_details = {
        "PartneredSmallParcelData" => {
            "PackageList" => packa

[2015-03-05 16:32] hakanensari commented on #33
@jmcmains, could you please confirm the master branch fixes this issue? I don't have anything in production using this part of the API.

[2015-03-05 16:52] jmcmains commented on #33
still getting the same error :/ Tried making it in code and doing a get_transport_content as well and both failed.

[2015-03-05 17:09] jmcmains commented on #33
seems to be working! Awesome! Thanks for figuring it out!

[2015-03-05 21:18] #33 closed

[2015-03-18 23:43] viperouge opened #34 "BadID"
I was trying to set up peddler and after I put my marketplace_id, merchant_id etc and start the server the following error is returned: gems/peddler-0.12.7/lib/peddler/marketplace.rb:44:in `block in find_host': Peddler::Marketplace::BadId (Peddler::Marketplace::BadId)

I'm using Ruby 2.1.3 and Rails 4.2.0

Any ideas how to fix it?

[2015-03-19 00:03] hakanensari commented on #34
It sounds like you didn't set the `marketplace_id` on the client or you set it to something not in [here](https://github.com/hakanensari/peddler/blob/master/lib/peddler/marketplace.rb#L5-L14)?

[2015-03-19 00:05] viperouge commented on #34
I did.. my marketplace id is:

  marketplace_id:        "ATVPDKIKX0DER"

[2015-03-19 02:06] viperouge commented on #34
in which files should I place:

[2015-03-19 10:54] hakanensari commented on #34
I added a descriptive message to the `Marketplace::BadId` error. Could you point your `Gemfile` to the GitHub repo and see what the error message says?

[2015-03-19 15:36] viperouge commented on #34
missing MarketplaceId (Peddler::Marketplace::BadId). Currently the ID is in a file called peddler.rb in config/initializers. Maybe I'm just doing something wrong?

[2015-03-20 15:04] hakanensari commented on #34
Looks like it. You need to set the credentials each time you instantiate a client. There's no singleton configuration object that stores credentials across instances.

If you are using a single set of credentials, I recommend you set them through environment variables, as I explain in the README.

I'll keep this issue open until I get a chance to reword the README to make this more explicit.

[2015-03-20 18:08] #32 closed

[2015-03-20 18:08] #34 closed

[2015-03-27 21:19] ShijunWu opened #36 "FBA Inbound Shipment Operation Fail"
I have some issues with the Inbound Shipment operation today. When i tried create shipment plan and update shipment, i get this error back:
{
    "ErrorResponse": {
        "xmlns": "http://mws.amazonaws.com/FulfillmentInboundShipment/2010-06-01-BETA-02/",
        "Error": {
            "Type": "Sender",
            "Code": "InvalidAction"
        },
        "RequestId": "647829a0-3096-455c-9a35-a

[2015-03-28 19:06] hakanensari commented on #36
Wow. I have no idea how this didn't blow up before. It perhaps is a very recent (undocumented) change.

In any case, we now include the`version` parameter in all requests, whether Amazon really expects it or not. I re-recorded all fixtures to make sure nothing else has broken.

Thanks, @ShijunWu.

[2015-03-28 19:06] #36 closed

[2015-03-30 13:56] ShijunWu commented on #36
lol, yeah, i think its a recent, and its not all operations have that
issue.

And thankyou for your attention.

On Sat, Mar 28, 2015 at 3:06 PM, Hakan Ensari <notifications@github.com>
wrote:

[2015-03-30 15:03] ShijunWu commented on #36
hakanensari, I just remember there's another minor things that are not compatible in the current version which is not relate to this issue.
The amazon's api (create inbound shipment (plan) or update inbound shipment), the max uniq sku is 200, but if u try to do those operation for more than about 50 or sth like that, you will get an error about uri too long from excon. Because in jeff, it use the

[2015-03-30 15:47] hakanensari commented on #36
@ShijunWu,

Could I take a look at your patch?

[2015-03-30 21:32] ShijunWu commented on #36
Yeah, but what i did is a quick way around, its not best practice. Since i use rails, i just have an file in config/initializers that override the jeff's build_options method. Since the jeff i am using is kinda old, i copy the newest one and patch what i change to it below:

def build_options(options)
    # Add Content-MD5 header if uploading a file.
    if options.has_key?(:body)
      md5 = Cont

[2015-03-30 23:05] hakanensari commented on #36
@ShijunWu,

I like your original solution (and I'm not sure I fully got the explanation of the other two alternatives). What you did is another step in massaging the input, like when Jeff adds a checksum if there's a body.

One side note: It may make sense to do away with [all the unused HTTP verbs in Jeff](https://github.com/hakanensari/jeff/blob/master/lib/jeff.rb#L125) and just stick to `POST`.

[2015-03-31 22:53] ShijunWu commented on #36
@hakanensari ,
Its not urgent, so no worry about it and hope you have great vacation.

Yeah, the original solution is like adding  the checksum which massage the input, and i think this is a easiest way to fix it. But i just concern that this way is not very safe, let say in the future, something change which make request that not upload the file also have the body, then it will fail(not really fa

[2015-04-13 17:45] hakanensari commented on #36
@ShijunWu,

I'm wondering if there's a documented limit to what maximum query size Amazon accepts in a GET query. Would you have any leads?

[2015-04-13 18:19] ShijunWu commented on #36
@hakanensari ,
Ya, amazon's api have the max number that can query at a time for each operation, in this case, i think its diff, for normal http request the max url is around 2000 characters, for the shipment example, it can query up to 200 skus, but the query key is very long, i think around 50 sku, the url already over 2000 characters

[2015-04-15 11:08] hakanensari commented on #36
@ShijunWu

I'm not sure this is the best solution, but I handle now 414 in Jeff. If Amazon returns this, Jeff retries after moving the query to the body. There's an extra request involved, but I felt this is cleaner because Jeff doesn't need to make any assumptions about when the error would be triggered (e.g. size of URI) and behaviour is otherwise unchanged.

Thanks again for surfacing this issu

[2015-04-15 16:11] ShijunWu commented on #36
@hakanensari
I think its a good way to handle it also, even there's one extra request, but its cleaner and no need to change the behavior.

I am glad can help.

[2015-04-21 20:27] gardart opened #37 "requested_to_date filter not working as suspected"
Just wanted to say thanks for developing this, it has helped me a lot getting useful data from Amazon.

Im using Peddler 0.15.0 and Im trying to get report request list by using :requested_to_date and :requested_from_date as filters. It seems to me that the requested_to_date is filtering agains the "SubmittedDate" rather than the EndDate. (see my testing below).

In the documentation, http://docs.

[2015-04-22 15:39] hakanensari commented on #37
The way I read it, requested to and from delimit when you requested a report, which is the submitted date. You use that to tell Amazon to give you reports requested in the past week, etc.

The start and end dates must have to do with the data in each report, which you set when you request a report.

A bit confusing, but everything seems to be OK. At least, Peddler is passing around the data fine :

[2015-04-22 15:39] #37 closed

[2015-04-22 15:52] gardart commented on #37
Ok, I read it like it should filter against the start and end range inside
the report.
I wanted to get a list of all the reports that are available with specific
time range (start_date and end_date) :)

And Yes, Peddler is passing around the data fine :)

Thanks again !

On Wed, Apr 22, 2015 at 3:39 PM, Hakan Ensari <notifications@github.com>
wrote:

--

Garðar Þorsteinsson | +354 693 9347

[2015-05-28 09:46] hakanensari opened #38 "Implement Finances API"

[2015-07-08 11:39] stravas opened #39 "Expected(200) <=> Actual(400 Bad Request) in feeds (submit feed)"
Hello there,

I've got the issue that i get a bad request error during submit_feed . The curious thing is that the same process work in version 0.9.2. Now i'm using version 0.16.0

I've used this to make a new client:

[code]

Then I create my latin1 string to set it in the first parameter(feed_content) of method "submit feed" and set as second paramter the feed_type:

[code]
The trace look like t

[2015-07-08 14:07] hakanensari commented on #39
Odd. The only change I can think of is adding `Version` to the request parameters [here](https://github.com/hakanensari/peddler/commit/5bcce0a943384014c0ae4d6cb26438a67010e0d8) and [here](https://github.com/hakanensari/peddler/commit/68ca9fca7941394cdd2a3994836019053cbc73ba).

Could you please rescue and check the response body?

[code]

[2015-07-08 14:27] stravas commented on #39
ok i'm not this deep in ruby to see the mistake in the code. Here is the response:

[code]

[2015-07-08 14:30] hakanensari commented on #39
I'm assuming the credentials belong to a seller who's using your app? You now need to provide an `MWSAuthToken` for them with the request.

The older Peddler version should fail as well. I have no idea why if it indeed is not.

[2015-07-08 14:43] stravas commented on #39
is this what you mean?

client.auth_token = "corge"
[code]

[2015-07-08 15:30] hakanensari commented on #39
Yes. Is this the culprit?

[2015-07-08 16:05] stravas commented on #39
what do I have to write in there instead of "corge"?

I thought I should get the auth_token from seller with **client.get_auth_token** but this only give me another bad request(400).

The message look like this

[code]
and how should the inkove look like after that? maybe like this?

[code]

[2015-07-08 16:44] stravas commented on #39
I've got it !!!

auth_thoken was the culprit. Just before you use the client you have do do this:

[code]
Thanks a lot

PS: I appreciate you work hakanensari. This code saved me very much time in the fight with Amazon MWS.

[2015-07-08 21:34] hakanensari commented on #39
:+1:

[2015-07-08 21:34] #39 closed

[2015-07-09 11:10] stravas opened #40 "submit feeds to different marketplaces always end up to origin marketplace"
Hello again,

I'm currently uploading products to my origin marketplace germany. I'm trying to update amazon products in different countries in europe.  I can't use **marketplace_id_list**, cause I'm making my own translations of my products. Like in your instruction i've changed the value of primary_marketplace_id to the marketplace-ID of the country I want to update in. The result is that no mat

[2015-07-09 12:20] hakanensari commented on #40
I believe you still have to provide the marketplace id list with the marketplace you are uploading to.

[2015-07-10 16:53] stravas commented on #40
I solved it.

The solution:
[code]

like hakanensari wrote you have to provide the marketplace id within the marketplace id list although it is just one value. It's an array with one value which is needed when you're selling in foreign marketplaces.

Thank hakanensari

[2015-07-10 22:15] dbwinger opened #41 "uninitialized constant Peddler::Client::ErrorParser"
[code]
(Offending line)[https://github.com/hakanensari/peddler/blob/master/lib/peddler/client.rb#L214]

I think you just need a
[code]
in `client.rb`, right?

[2015-07-10 22:38] #41 closed

[2015-07-10 22:38] hakanensari commented on #41
Thanks, @dbwinger

[2015-07-10 22:39] hakanensari commented on #40
:+1:

[2015-07-10 22:39] #40 closed

[2015-07-10 23:34] dbwinger commented on #41
Thank YOU!  That was quick. :)

[2015-08-06 20:58] #38 closed

[2015-08-24 18:05] ssoulless opened #45 "Bad Request when trying to get list of orders"
Hey the above is my code:

[code]

Im trying to get the list of orders, it is not working it shows:
`response_call': Expected(200) <=> Actual(400 Bad Request) (Excon::Errors::BadRequest)
`
I tried

[code]

but did not work, what am I doing wrong?, is mandatory send options?

[2015-08-24 18:27] ssoulless commented on #45
I also tried
[code]

But same result...

[2015-08-24 19:16] hakanensari commented on #45
What's the error message?

[code]

[2015-08-24 22:58] ssoulless commented on #45
Hi this is the error message:
[code]
but I do not understand, what it means, what am I missing?

[2015-08-25 01:43] ssoulless commented on #45
Hi I found the issue, I read Amazon MWS and it seems that you have to send the created_after argument mandatory:

[code]
Now it works, would be good if you add that detail to the docs, I mean add which ones are mandatory and which ones are not.

[2015-08-25 09:44] hakanensari commented on #45
You're right. I'll add a note to the docs.

[2015-08-25 10:15] #45 closed

[2015-10-08 16:26] jayshepherd opened #48 "Error: Start of list found where not expected"
I'm having trouble getting real parameters to work based on the example in this test:

[code]

I've tried:

[code]

[code]

Any thoughts?

[2015-10-08 16:53] jayshepherd commented on #48
It looks like the correct syntax is:

[code]

[2015-10-14 12:11] #48 closed

[2015-10-14 12:15] hakanensari commented on #48
@jayshepherd [The source should help explaining arguments](https://github.com/hakanensari/peddler/blob/master/lib/mws/fulfillment_inbound_shipment/client.rb#L167).

[2015-10-27 03:20] mfelix opened #50 "Support for "GetLowestPricedOffersForSKU""
Hello! Recently I stumbled upon this function called [GetLowestPricedOffersForSKU](http://docs.developer.amazonservices.com/en_MX/products/Products_GetLowestPricedOffersForSKU.html) in Products section of MWS, and it looks like it was [recently added to other client libraries](http://docs.developer.amazonservices.com/en_MX/products/Products_ClientLibraries.html), so maybe it's new?

I dug through

[2015-10-27 08:56] hakanensari commented on #50
Good catch! This is indeed new—and strange.

From what I see, the response is essentially the same as [GetLowestOfferListingsForSKU][1] but includes Buy Box data, plus the hourly quota is significantly lower than the former. They seem not to want people to use this to fetch Buy Box data (of stuff they don't list) in bulk.

I'll add this ASAP.

[1]: http://docs.developer.amazonservices.com/en_MX/pr

[2015-10-27 09:24] #50 closed

[2015-10-27 14:50] mfelix commented on #50
👏thank you!

[2015-12-24 16:07] Trimakas opened #52 "Need a bit of help with the address format in create_inbound_shipment_plan"
I've been trying with different versions of this hash, but can't get it to work!!! Any help is MUCH appreciated..

ship_from_address = {
  "Name" => "Company name",
  "AddressLine1" => "929 Whatever Dr.",
  "City" => "My Town",
  "StateOrProvinceCode" => "YY",
  "PostalCode" => "12345"
}

I know the client is setup correctly, I can request other more simple info from the API.. just my address form

[2015-12-25 09:58] wppurking opened #53 "MWS US and DE report api response 'Cp1252' instead of 'ISO-8859-1'"
@hakanensari
I see the file [marketplace.rb](https://github.com/hakanensari/peddler/blob/master/lib/peddler/marketplace.rb#L30) have assign the response encoding to `Peddler::Parser` like `FlatFileParser`.

But i found recently amazon (US, DE) has change the report api (flat file) encoding from 'ISO-8859-1' to 'Cp1252' and i found [this article](http://www.i18nqa.com/debug/table-iso8859-1-vs-windo

[2015-12-25 18:16] hakanensari commented on #52
StackOverflow is a better place to troubleshoot implementation issues.

Here, you may be missing a required element in Address, for instance.

[2015-12-25 18:16] #52 closed

[2015-12-25 20:49] #53 closed

[2015-12-25 20:52] hakanensari commented on #53
I'll bump library version after confirming this is not messing with flat file uploads using the Feeds API.

[2015-12-26 02:52] wppurking commented on #53
:+1:

[2015-12-27 10:55] hakanensari opened #54 "More expressive errors"
Current errors are not expressive:

[code]

If you don't already have a notion of what this means, the workaround is to rescue and peek into response:

[code]

Instead, we could perhaps throw an error that inherits from `Excon::Errors::NotFound`, sets class name to the value of `Code`—`FeedProcessingResultNotReady` in this case—and set the error message to the value of `Message`. Inheriting from t

[2016-01-15 17:20] systemnate commented on #31
Just to confirm: You should pass YOUR (the developer's) marketplace_id, merchant_id, aws_access_key_id, and aws_secret_access_key, and you only need the user's auth_token?  Thanks in advance!

[2016-01-15 20:21] hakanensari commented on #31
@systemnate: It's your AWS Access Key ID and AWS Secret Access Key only. Rest is the user's.

[2016-01-16 16:16] systemnate commented on #31
Thanks!

[2016-01-18 04:34] hdrsh opened #55 "Get Orders doesn't work for multiple orders"
response = order.get_order(["XXX-9942539-XXXXXXX", "XXX-8276410-XXXXXXX"])
order_info = response.parse
puts order_info

=> Returns nil (where it works for single orders)

The documentation says it can take upto 50 orders as input

[2016-01-20 05:39] hakanensari commented on #55
You need to pass the order ids as a splat, with no brackets:

[code]

Admittedly, the documentation is not clear, and I'm not quite sure how to express a splat in Yardoc. I'll revisit this later.

[2016-01-20 06:25] hdrsh commented on #55
Thanks! Just one more thing - the splat works, but while 'response' has info for all 50 orders, once it's parsed, only the first order seems to show.

[2016-01-20 18:55] hakanensari commented on #55
I can't reproduce this. See above commit, which has a test case that confirms the method works with multiple order IDs. Perhaps the code helps you locate something wrong on your side.

[2016-01-20 19:01] hakanensari opened #56 "Implement Merchant Fulfillment"
https://developer.amazonservices.com/gp/mws/api.html?group=merchantfulfillment&section=merchantfulfillment

[2016-01-21 10:38] #56 closed

[2016-01-22 17:37] andrewtodd commented on #55
I don't know if it's related to what hdrsh is reporting, but when I use parse to parse the orders returned by list_orders, all orders are parsed as 1 order.

When I use orders.count the value is always 2 no matter how many orders were returned. ["CreatedBefore", "2016-01-22T17:33:26Z"]  appears to be what is being counted as the second order.

[2016-01-22 21:52] hakanensari commented on #55
Which XML backend (if any) are you using? If not sure, could you post here your Gemfile.lock?

[2016-01-22 23:04] andrewtodd commented on #55
Although the test script I'm playing with lives in a rails directory, I'm currently only running it from the command prompt on a windows pc.

The gemfile.lock contains the following data:

GIT
  remote: git://github.com/bernat/best_in_place.git
  revision: 57b525e487cd6ba10467b47d8bf8907c645f6917
  specs:
    best_in_place (3.1.0)
      actionpack (>= 3.2)
      railties (>= 3.2)

GEM
  remote: ht

[2016-01-23 19:39] hakanensari commented on #55
No luck. My hunch that it may have to do with the parsing backend (Nokogiri, in your case) is unfounded. If you run [this test](https://github.com/hakanensari/peddler/blob/master/test/integration/test_orders.rb#L5-L25), you'll see that it parses multiple orders correctly.

I'm out of ideas for now.

[2016-01-25 03:04] andrewtodd commented on #55
Thank you for trying. I meant to mention that I didn't install Nokogiri until after the peddler parser had failed. I started using Nokogiri to parse the data once the orders had been downloaded.

I apologize if this is the wrong place to ask this question, but how should list_orders_by_next_token be called, particularly when there are multiple pages? Unless I create a new client I receive a 400 er

[2016-01-25 16:34] andrewtodd commented on #55
I'm not sure why, but after re-running 'bundle install' everything started to work.

[2016-01-27 00:39] hakanensari commented on #55
You shouldn't need to create a new client. You just pass the next token from the previous response to the query.

[code]

[2016-03-02 22:42] CodySwannGT opened #57 "Flat Files being interpreted as XML files"
I'm using the following to upload a tab delimited text file

[code]

However, when I check the results, I get the following error:

`<ResultDescription>XML Parsing Fatal Error at Line 1, Column 1: Content is not allowed in prolog. Content is not allowed in prolog.</ResultDescription>`

Very interested in making this work any pointers would be greatly appreciated.

[2016-03-02 23:44] CodySwannGT commented on #57
Ah - got it.

Use "_POST_FLAT_FILE_LISTINGS_DATA_" instead of "_POST_PRODUCT_DATA_"

[2016-03-02 23:44] #57 closed

[2016-03-03 08:18] zayka opened #58 "Change docs for get_lowest_priced_offers_for_sku/asin"
Double get_lowest_priced_offers_for_sku
![skuasin](https://cloud.githubusercontent.com/assets/1076266/13488319/88dc8f20-e131-11e5-8bb7-08b4d1032c07.png)
 here
http://www.rubydoc.info/github/hakanensari/peddler/MWS/Products/Client

[2016-03-03 12:35] #58 closed

[2016-03-03 12:35] hakanensari commented on #58
Thanks @zayka

[2016-03-09 23:53] #55 closed

[2016-03-17 04:20] hounsellal opened #59 "Can't figure out how to get multiple products."
I've tried passing an array into the ones that allow for multiple products. Doesn't work.

[2016-03-18 10:57] hakanensari commented on #59
I'm assuming you are referring to the methods that take one or more ASINs or SKUs as argument, such as [this one](http://www.rubydoc.info/gems/peddler/MWS%2FProducts%2FClient%3Aget_my_price_for_asin). Note the splat operator in the method definition. That means you have to provide the list of IDs as is rather than as an array:

[code]

[2016-04-05 05:38] czhu12 opened #60 "MWS::Reports::Client.request_report doesnt work as according to spec"
`client.request_report('_GET_FLAT_FILE_OPEN_LISTINGS_DATA_', marketplace_id_list: ['ATVPDKIKX0DER'])`
throws a
`Peddler::Marketplace::BadId: missing MarketplaceId`

When I set
`client.primary_marketplace_id = "ATVPDKIKX0DER"`
and run the command again, it throws a
`ArgumentError: Missing secret`

[2016-04-05 10:44] hakanensari commented on #60
It sounds like you're not instantiating the client with the proper credentials. Check the [README](https://github.com/hakanensari/peddler#usage) on how to do this.

[2016-04-05 22:15] czhu12 commented on #60
I set all the credentials in the environment. The other mws endpoints work it seems, but `request_report` is failing.

[2016-04-10 23:23] hakanensari commented on #60
I can't reproduct this error.

I have requested above report with no issue using an active seller account.

[2016-04-11 18:33] mbrinkme opened #61 "Expected(200) <=> Actual(400 Bad Request) on"
Hello!

I tried to use multiple asins for #get_lowest_offer_listings_for_asin. But it didn't work.
@client.get_lowest_offer_listings_for_asin("3492700934, 3551354014")
@client.get_lowest_offer_listings_for_asin(["3492700934", "3551354014"])

A single asin works:
@client.get_lowest_offer_listings_for_asin("3492700934")

I gets the following messages:
[code]
[code]

[2016-04-11 22:29] hakanensari commented on #61
Please try:

[code]

[2016-04-12 21:12] mbrinkme commented on #61
It works fine! Thanks

[2016-04-12 21:12] #61 closed

[2016-05-17 02:52] c0mrade opened #62 "Unable to specify the order status"
Hello, I've looked at the code and the tests, and I couldn't find an answer to this. How to list order by their status, whatever I do seems like it causes Bad Request, here are some examples I tried:

[code]

I get the same error:
[code]

Am I doing something wrong? Also can I inspect the request itself to see which request is being generated?

[2016-05-17 05:59] hakanensari commented on #62
Hello Emir,

I'm guessing it's because you must specify a time frame with either `created_after` or `last_updated_after`.

To troubleshoot, you can rescue the exception and then inspect the request object it provides.

[2016-05-17 19:04] c0mrade commented on #62
@hakanensari this looks great! and it works too!

[2016-05-17 19:04] #62 closed

[2016-05-18 13:13] #54 closed

[2016-07-06 09:59] pictona opened #63 "Problem with Products->get_product_categories_for_asin"
Hi

When I try and call either method for getting categories for Products I always seem to get this error:

`undefined method `update' for "A1F83G8C2ARO7P":String`

line of code calling this is :
`client.get_product_categories_for_asin(asin, marketplace_code).parse`

I can use the same code but change to get_matching_product_for_asin and it will return results. It looks as though it is any method

[2016-07-06 11:16] hakanensari commented on #63
The correct syntax would be `client.get_product_categories_for_asin(asin, marketplace_id: marketplace_code).parse`.

The documentation typo is already fixed in master.

[2016-07-06 11:16] #63 closed

[2016-07-06 14:16] pictona commented on #63
Thanks

[2016-07-21 11:30] bdsimmons opened #65 "Does not support GetMyFeesEstimate for Products API"
[GetMyFeesEstimate](http://docs.developer.amazonservices.com/en_US/products/Products_GetMyFeesEstimate.html) is not currently present in the Products client, but is a really useful call. Any reason you are not supporting it currently?

[2016-07-30 16:35] c0mrade opened #66 "No longer supported calls"
Those are :

Cart Information
Customer Information

I think they should be removed at least from README, until it's removed from the code.

[2016-07-31 06:49] #66 closed

[2016-08-01 08:05] stoerebink opened #68 "Expected(200) <=> Actual(400 Bad Request) (Excon::Errors::BadRequest) on outbound fulfillment"
I'm trying to set up outbound fulfillment orders. I get a 400 response every time I try with no further detail so it's hard to figure out what's going wrong. This is my call:

`@client.create_fulfillment_order("186", "186", 2016-08-01T07:35:48Z, "Test shipment number: 186", "Standard", {"Name"=>"Bert the Destroyer", "Line1"=>"Teststreet", "Line2"=>"123", "Line3"=>"", "DistrictOrCounty"=>"", "City"

[2016-08-01 09:07] stoerebink commented on #68
Wow. After more searching I found my answer here: http://stackoverflow.com/questions/38693380/bad-request-using-peddler-to-create-outbound-fulfillment/38694869#38694869

What a worthless error response.

[2016-08-01 09:07] #68 closed

[2016-08-01 16:49] nsheepgi commented on #65
It is there now

[2016-08-04 18:48] systemnate opened #69 "Not Retrieving All Reports?"
Hey, hakanensari, not sure where/how else to ask this but I'm using peddler to load a list of MWS settlement reports into my application.  After properly setting the client, I am writing this to request up to 100 reports (the max) starting at 2 years ago:

`reports = client.get_report_list(available_from_date: 2.years.ago.iso8601, report_type_list: "_GET_V2_SETTLEMENT_REPORT_DATA_XML_", max_count:

[2016-08-15 18:02] hakanensari commented on #69
If you indeed have 5 settlement reports in the last 90 days, the API is returning correctly within its maximum scope.

If that's not the case, you should write to them. You can run the query with **EXCON_DEBUG=1** to get a detailed output of the request.

And no, I don't know a work-around.

[2016-08-15 18:32] #65 closed

[2016-08-15 21:37] systemnate commented on #69
Thanks for the reply. Definitely seems like it's just a limitation of Amazon's API. Thanks for the tip on getting a more detailed output. I'm sure that will come in handy soon!

[2016-08-15 21:37] #69 closed

[2016-08-17 13:04] amir-budaychiev opened #70 "I want to get TAX/VAT by marketplaces from Amazon API via gem peddler. How can I get tax/vat values?"
[code]

I want to get TAX/VAT by marketplaces from Amazon API via gem peddler. How can I get tax/vat values?

[2016-08-18 03:22] hakanensari commented on #70
@amir-budaychiev, MWS support would be more of help for this type of question.

[2016-08-19 13:38] powellmichael commented on #60
I can't reproduce this error either.

[2016-08-19 18:45] hakanensari commented on #60
:+1: I'll close

[2016-08-19 18:45] #60 closed

[2016-09-03 18:14] noorani786 opened #71 "put_transport_content does not have support for pallet_list"
Suggested change:

mws/fulfillment_inbout_shipment/client.rb:87

     .structure!(shipment_type == 'SP' : 'PackageList' ? 'PalletList', 'member')

[2016-09-03 19:21] #71 closed

[2016-09-03 19:22] hakanensari commented on #71
Thanks for reporting, @noorani786. This should take care.

[2016-09-03 19:24] noorani786 commented on #71
Awesome! Thanks.  And thank you for making this gem available. It's been a
great help.

On Saturday, September 3, 2016, Hakan Ensari <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2016-09-20 16:22] ifritz7 commented on #65
I am trying to use GetMyFeesEstimate and my hash is not being accepted. Could someone show me an example hash for GetMyFeesEstimate?

Thanks!!!

[2016-09-20 16:37] ifritz7 opened #72 "get_my_fees_estimate documentation"
Hello,

I am trying to use get_my_fees_estimate in the docs it says to submit a hash with request details. My hash looks like this:  {"MarketplaceId": 'ATVPDKIKX0DER', "IdType": "ASIN", "IdValue": "B01CVGV66W", "PriceToEstimateFees": 39.73, "Identifier": Time.now, "IsAmazonFulfilled": "true"}

My parsed return looks like this:
{"FeesEstimateResultList"=>{"FeesEstimateResult"=>{"FeesEstimateIdentif

[2016-09-22 20:39] noorani786 opened #73 "Please add FBAInbound_GetUniquePackageLabels."
The API method to retrieve unique package labels is missing.  Can you please add?

http://docs.developer.amazonservices.com/en_US/fba_inbound/FBAInbound_GetUniquePackageLabels.html

Thanks!

[2016-09-22 20:53] noorani786 opened #74 "Please add FBAInbound_GetPalletLabels"
The API method to retrieve pallet labels is missing. Can you please add?

http://docs.developer.amazonservices.com/en_US/fba_inbound/FBAInbound_GetPalletLabels.html

Thanks!

[2016-09-24 15:26] philsmy opened #75 "FulfillmentInventory to different marketplace"
I create my fullment inventory client with the Canadian marketplace (A2EUQ1WTGCTBG2)

[code]

But the request seems to go to the US one.

[code]

Any ideas?

[2016-09-24 15:27] philsmy opened #76 "See request string?"
Is there a way to see the request string in a log? (e.g by turning on some debug flag)

[2016-09-25 17:17] #76 closed

[2016-09-25 17:23] #75 closed

[2016-09-25 17:24] hakanensari commented on #75
@philsmy, you need to provide the marketplace id when calling the operation. I just added a note on the option to the docs.

[2016-09-25 17:48] hakanensari commented on #72
Try underscored symbols in your argument. That's `:marketplace_id` in place of `"MarketplaceId".

[2016-09-25 17:50] hakanensari commented on #73
It seems Amazon introduced in this API some new operations, including the two you posted here. It would be great if you took a stab at this with a PR. Otherwise, I'll do so when I get a chance.

[2016-09-25 17:50] hakanensari commented on #74
See #73.

[2016-09-25 19:23] ifritz7 commented on #72
Thank you, it worked!!

Isaiah Fritzinger

On Sep 25, 2016 1:48 PM, "Hakan Ensari" <notifications@github.com> wrote:

[2016-09-25 23:24] philsmy commented on #75
Interesting! For products it does NOT seem to be that way, as for months I've been doing it the same. But thank you. I'm going to give it a try now.

[2016-09-30 21:22] #72 closed

[2016-10-02 13:33] noorani786 commented on #73
I have implemented this but getting an accessing denied when trying to push another branch onto your repository so I can create a pull request.  Here is the implementation:

 # Returns PDF document data for printing pallet labels for an inbound shipment
      #
      # @see http://docs.developer.amazonservices.com/en_US/fba_inbound/FBAInbound_GetPackageLabels.html
      # @param [String] shipment_

[2016-10-02 13:34] noorani786 commented on #74
I have implemented this but getting an accessing denied when trying to push another branch onto your repository so I can create a pull request. Here is the implementation:

[code]

[2016-10-02 21:02] hakanensari commented on #73
I'm not sure if this is what the issue is, but you will want to clone the repository to your own account and push there. Then, you can create a pull request through the site.

The code looks good. It would be great if you could also fill the tests [here](https://github.com/hakanensari/peddler/blob/master/test/unit/mws/test_fulfillment_inbound_shipment_client.rb#L195-L199) and [here](https://github

[2016-10-10 22:58] machineboy2045 opened #77 "New Parameter for SubmitFeed"
I got a notice from Amazon recently:

It says the change will be backwards compatible, so I assume peddler will keep working without an update. But I thought I'd post this just in case. :)

[2016-11-06 17:45] #73 closed

[2016-11-06 17:45] #74 closed

[2016-11-08 11:54] hakanensari commented on #77
@machineboy2045 I will reopen. Being short of time, I had originally :+1:'ed the issue instead of replying, which probably was not very communicative.

Yes, let's implement this. Would you like to take a stab?

[2016-11-10 21:51] machineboy2045 commented on #77
Haha. No worries. I might take a stab but no promises. :P

On Tue, Nov 8, 2016 at 3:54 AM, Hakan Ensari <notifications@github.com>
wrote:

[2016-11-19 03:39] noorani786 opened #78 "getting invalid byte sequence UTF-8 when retreiving MWS Feed"
Mws::Feeds.client(m.amazon_account).get_feed_submission_result('84223017123')
ArgumentError: invalid byte sequence in UTF-8
	from /var/www/ncube_ecomm/shared/bundle/ruby/2.3.0/bundler/gems/peddler-b4f10425dbbe/lib/peddler/flat_file_parser.rb:35:in `split'
	from /var/www/ncube_ecomm/shared/bundle/ruby/2.3.0/bundler/gems/peddler-b4f10425dbbe/lib/peddler/flat_file_parser.rb:35:in `extract_content'
	f

[2016-11-19 10:18] likitung opened #79 "What I should paste to first parametr in .submit_feed ??"
Hi, What I should paste to the first parametr in .submit_feed action,  path to the file? String?  or What?? Coz every time i pass there XML like a string:

 data = File.read("public/feed.xml")
 respond =  client.submit_feed(data, "_POST_PRODUCT_OVERRIDES_DATA_", opts = {:marketplace_id_list => "XXXXXXX"})

I always got this error from Amazon  http://joxi.ru/Q2KLWOGckVLRAj  with escape charecters t

[2016-11-23 23:06] hakanensari commented on #78
Which marketplace are you running into this? What's the report type? It seems like we're not correctly setting the encoding type [here](https://github.com/hakanensari/peddler/blob/master/lib/peddler/flat_file_parser.rb#L41-L45).

[2016-11-23 23:07] hakanensari commented on #79
You do pass a string.

Judging from the error message, it seems like your XML is malformed. Perhaps Stack Overflow might help further to troubleshoot the XML?

[2016-12-07 19:30] noorani786 commented on #78
US market
This is when I try to read the feed sumbission result report after submitting product listings.

[2016-12-20 06:54] chrishough opened #80 "quota headers"
According to [AWS Throttling](https://docs.developer.amazonservices.com/en_DE/dev_guide/DG_Throttling.html) the following headers should come over with each request.
[code]
Have these been removed from this gem?

[2016-12-20 12:26] hakanensari commented on #80
They haven't been removed, as in they're there in the header, but we're not really exposing them in the crafted response.

Making this data more accessible could be a future improvement.

[2016-12-20 16:10] chrishough commented on #80
I think passing them through would be more supportive of a API service layer.  Would it be cool if I sent you a PR for this?

[2016-12-20 20:59] hakanensari commented on #80
Absolutely :cool:

[2016-12-21 05:51] chrishough opened #81 "amazon fees"
I have been researching this in the gem, and I am not seeing it but maybe AWS does not expose the transaction fees for orders / order items.  Thoughts? Happy to collab on this too.

[2016-12-27 02:03] chrishough opened #82 "reopen #72 : need documentation for get_my_fees_estimate"
**Example Code** https://github.com/hakanensari/peddler/issues/72
[code]
**Result**
[code]

[2016-12-27 02:21] chrishough commented on #82
**UPDATE**
[code]

[2016-12-27 02:51] chrishough commented on #82
**UPDATE Progress 2***

It looks like the documentation and the specs for this request are off.  It looks like it is requiring more information such as the requestor identifier which appears to be completely random:
[code]

[2016-12-29 01:46] hakanensari commented on #81
You're on the right track in the other issue.

Also, I can't tell you which report type off the top of my head, but I'm pretty sure there's an order report that lists fees, so you may want to research in that direction as well.

[2016-12-29 03:33] chrishough commented on #81
All I could find was this http://docs.developer.amazonservices.com/en_US/finances/Finances_Overview.html or this http://docs.developer.amazonservices.com/en_US/products/Products_GetMyFeesEstimate.html which was only for estimates.  What are you using to pull fees for orders purchased?

[2016-12-29 03:33] chrishough commented on #82
Thank you :) I will run a bundle update and see what comes across. Let you know ASAP.

[2017-01-04 03:41] chrishough opened #83 "finances list potentially not matching amazon"
As you can see from what is shown below it appears an entire node is either missing or not mapping correctly via the parser. Thoughts?

**Amazon Example**
[code]
**My Example**
[code]

[2017-01-15 22:44] magicalmongolpanda opened #84 "list_matching_products can’t get correct data when queries are multibyte characters"
Hi, I use the peddler on JP marketplace. I can't get correct data when using list_matching_products by multibyte characters.  Does Peddler encode queries in the following way (quoted from [http://docs.developer.amazonservices.com/en_US/dev_guide/DG_QueryString.html](http://docs.developer.amazonservices.com/en_US/dev_guide/DG_QueryString.html))?

[2017-01-20 13:08] pictona opened #85 "Get Report for Specific Marketplace always returns UK data"
Hi,

I am trying to get inventory report data in the different marketplaces. I am setting the marketplace_id with the request and confirm the correct marketplace_code is in request to Amazon. Every time the report comes back though, it is showing the data from our UK (primary) marketplace.

I use the exact same credentials and marketplace_code on the scratchpad and I get the report from the countr

[2017-01-20 13:25] pictona commented on #85
here is the client details when requesting report from italian marketplace:

--- !ruby/object:MWS::Reports::Client
primary_marketplace_id: APJ6JRA9NG5V4
merchant_id: XXXXXXXXXXXXX
aws_access_key_id: XXXXXXXXXXXXXXXXXXX
aws_secret_access_key: XXXXXXXXXXXXXXXXXX

--- !ruby/object:Excon::Response
data:
  :body: |
    <?xml version="1.0"?>
    <RequestReportResponse xmlns="http://mws.amazonaws.com/doc

[2017-01-20 17:00] hakanensari commented on #85
It sounds like you're not providing the marketplace ID correctly when [requesting the report](http://www.rubydoc.info/gems/peddler/MWS%2FReports%2FClient%3Arequest_report) so it's defaulting to your home marketplace.

You can see your actual request if you set EXCON_DEBUG env var to true.

[2017-01-24 01:50] philsmy commented on #78
Yes, I have the same issue...do we have a solution for this?

[2017-01-24 20:39] #84 closed

[2017-01-24 20:41] hakanensari commented on #84
@magicalmongolpanda, thanks for reporting this. master branch should fix this issue.

[2017-01-24 21:34] hakanensari commented on #78
@noorani786, @philsmy I just fixed [another encoding issue](https://github.com/hakanensari/peddler/issues/84), but this one seems distinct. Would you mind sharing with me the raw response body or the part you think is causing the issue?

[2017-01-25 01:48] philsmy commented on #78
Here's the stack trace
[code]

Here's what's coming down (I think I've obfuscated enough)
[code]

[2017-01-25 22:30] hakanensari commented on #78
A typical heisenbug — I can't reproduce this locally and am wondering if something about the environment is causing this.

I just pushed a small change to master to make the parser more lenient. Could you check if it's of any help? This will replace invalid characters with question marks.

[2017-01-26 02:03] philsmy commented on #78
Sure. This happens for sure on our Ubuntu server, but I'll check if it
happens locally. It only happens on a few feedback reports... I'll try to
test this today.

On Thu, Jan 26, 2017 at 7:30 AM, Hakan Ensari <notifications@github.com>
wrote:

--
Phil Smy - "http://www.philsmy.com"
filmsite: http://philsfilmlinks.com
twitter: http://twitter.com/psmy
facebook: http://facebook.com/philsmy

[2017-01-30 00:27] #80 closed

[2017-01-30 15:37] chrishough commented on #80
Thank you.  Sorry I have not had more time to work on this. I still have the other issue pending for verification.

[2017-02-01 13:02] #77 closed

[2017-02-14 14:26] omensinger opened #86 "parser returns only "ProcessingReport" for get_feed_submission_result"
The parser returns only "ProcessingReport" for `get_feed_submission_result`. Example:
[code]

The `result.body` contains the really interesting data. Why is this not parsed, as - for example - when using `client.submit_feed(...)`?

I am sure that I miss something here, do I? Thank you in advance!

[2017-02-14 15:04] hakanensari commented on #86
Odd. Could you paste the response body? Please sanitise if there's anything sensitive.

[2017-02-15 09:27] omensinger commented on #86
Here we go:

1. I use MWS::Feeds::Client to `submit_feed` with `_POST_INVENTORY_AVAILABILITY_DATA_`, I get back the `FeedSubmissionId` (50018017212)
2. I use `get_feed_submission_list` with the `FeedSubmissionId` until I get `"FeedProcessingStatus"=>"_DONE_"`
3. Now I use `get_feed_submission_result` with my `FeedSubmissionId`

This is the returned object (result):
[code]

This is the body:
[code]

[2017-02-15 23:08] #86 closed

[2017-02-15 23:09] hakanensari commented on #86
@omensinger, thanks for reporting. It was a regression.

[2017-02-17 07:42] omensinger commented on #86
@hakanensari Thank you very much for great library!

[2017-04-06 20:33] noorani786 commented on #78
@hakanensari The small change you made didn't fix the issue.  Actually, the exception occurs on line  38 on the FlatFileParser.rb and not line 57.  To fix the issue, I ultimately had to write the content to a temp-file and then read it back.  This apparently fixes any encoding issues.

[2017-04-26 13:13] hakanensari commented on #78
@noorani786, @philsmy, could you please check if ☝️ fixes the encoding bug?

[2017-04-27 03:45] noorani786 commented on #78
@hakanensari Yes, that fixed the issue for me. Thank you!

[2017-05-24 15:44] jayshepherd opened #87 "ItemList sub array not being built by StructuredList as expected"
I am trying to use `MWS::MerchantFulfillment::Client.get_eligible_shipping_services` but getting an error due to improper formatting for the ItemList value.

I have a Hash that contains and Array of objects containing `OrderItemId` and `Quantity` but it doesn't seem that `StructuredList` parses the array properly. I get the error `"Unexpected list element termination"` when submitting the followin

[2017-05-24 18:39] jayshepherd commented on #87
So, unless there is something I'm missing in Peddler, I just had to crunch a workable hash based on the order items.

Crude, but works for now.

[code]

[2017-05-24 18:56] #87 closed

[2017-05-24 18:59] hakanensari commented on #87
@jayshepherd thanks for reporting this. The above commit should fix. I'll release a new version in a moment.

[2017-05-24 19:06] #78 closed

[2017-05-24 19:48] jayshepherd commented on #87
The updated gem worked perfectly. Thanks again.

[2017-06-14 18:43] jxdx opened #88 "Encoding Issue"
sku = 'Küche 7pcs MultiColor Utensil Set'

response = request.get_matching_product_for_id('SellerSKU', *skus)

response.parse

{"Error"=>{"Type"=>"Sender", "Code"=>"InvalidParameterValue", "Message"=>"KÃ¼che 7pcs MultiColor Utensil Set is an invalid SellerSKU for marketplace ATVPDKIKX0DER"}, "Id"=>"KÃ¼che 7pcs MultiColor Utensil Set", "IdType"=>"SellerSKU", "status"=>"ClientError"}

Notice the fir

[2017-06-14 19:31] hakanensari commented on #88
What version of jeff are you using? A [recent commit there](https://github.com/hakanensari/peddler/issues/84) may have fixed what you're describing.

[2017-06-14 20:57] jxdx commented on #88
peddler (1.0.2)
      jeff (~> 1.3)
      multi_xml (~> 0.5.0)

[2017-06-14 21:13] jxdx commented on #88
Updating my peddler version fixed the issue.
Thank you

[2017-06-14 21:13] #88 closed

[2017-06-16 17:02] egear opened #89 "Amazon Feed Issue"
Hello,

We are experiencing a problem with our Amazon inventory.  We are receiving orders for merchant-fulfilled items that we do not have.  We do not offer any merchant-fulfilled items.  When we contacted Amazon to find out what is causing this to happen, the said that it was a feed from Peddler and sent us the following link:  https://github.com/hakanensari/peddler
We do not recall any transacti

[2017-07-03 08:01] QuAcK3RjAcK opened #90 "Marketplace ID for PrimeNow DE missing"
I'm working with PrimeNowDE marketplace and I got the marketplace ID "A1KU16HT7ALXJ0" from Amazon with the endpoint 'mws.amazonservices.de'.

Cause peddler doesn't know this new marketplace it always calls this Error: "A1KU16HT7ALXJ0" is not a valid MarketplaceId

Can you pls add the marketplace ID fpr PrimeNow DE to the HOSTS constant?
https://github.com/hakanensari/peddler/blob/master/lib/peddle

[2017-07-03 17:05] hakanensari commented on #90
Hi @QuAcK3RjAcK ,

The [MWS docs](https://docs.developer.amazonservices.com/en_US/dev_guide/DG_Endpoints.html) do not mention `A1KU16HT7ALXJ0` as a valid marketplace ID. If this is a new, undocumented feature, can you point me to any resource online?

Also, have you tried using the regular German marketplace ID or alternatively, monkey-patching the HOSTS constant to try out your ID and see if it w

[2017-07-03 20:05] faralbrt opened #91 "Retrieving pdf document data"
Hello @hakanensari ,
I know this is unrelated to the gem, but I have been stuck on this for hours.
Any insight is extremely appreciated.

I am using the `get_bill_of_lading` operation which returns `PdfDocumentData` (an encoded string which must be decoded, and unzipped)

[Link to instructions from Amazon Docs](http://docs.developer.amazonservices.com/en_US/fba_inbound/FBAInbound_ExtractingPdfDocu

[2017-07-04 09:07] QuAcK3RjAcK commented on #90
Hi @hakanensari ,

Unfortunatly i don't have any online resource for that. My company started a partnership to sell over PrimeNow in Germany and i only have direct contact with them. They give me that Marketplace ID for PrimeNowDE. They said, that PrimeNow has also different marketplace IDs for different countries, but i only know the DE one.

I monkey patched the HOSTS constant and it was working

[2017-07-04 16:33] faralbrt commented on #91
Figured it out. The zip file I was writing was corrupt. A fresh hit to the api solved it

[2017-07-04 16:33] #91 closed

[2017-07-07 17:08] samacs opened #92 "Add support for creating RMAs"
We're currently using this project to synchronize product images and stock.

We are planning to implement the creation of return fulfillments but there's no support for a couple of methods needed to create this.

* **ListReturnReasonCodes** - We are working with different channels not just for Amazon, and this method is useful for validating the reasons a client is trying to return an item.

* **C

[2017-07-07 17:41] hakanensari commented on #92
@samacs, yes, these two operations are [missing in the client](https://github.com/hakanensari/peddler/blob/master/lib/mws/fulfillment_outbound_shipment/client.rb). I don't know if this was originally an oversight or whether Amazon silently added them recently. Either way, yes, we should incorporate them, so :+1: for a PR.

[2017-07-11 18:45] samacs commented on #92
PR #93 is ready!

[2017-07-11 21:19] #92 closed

[2017-07-18 17:17] alexfalkowski opened #94 "Encoding issues"
Hi,

Thanks for the great library. We are using `MWS::Reports::Client`. When we

[code]

I can see that  text comes back as `für`

Though when we call

[code]

We get the text `fÃ¼r`

Seems to me something is using the wrong encoding. Maybe then CSV parsing is causing it?

[2017-07-18 20:29] hakanensari commented on #94
Just to confirm, are you using the latest version?

[2017-07-18 20:47] alexfalkowski commented on #94
From my Gemfile lock `peddler (1.6.1)`

[2017-07-19 20:00] alexfalkowski commented on #94
So I think I find the issue

https://github.com/hakanensari/peddler/blob/b0be32d167f096d0e696e29f0091771e82eed200/lib/peddler/flat_file_parser.rb#L37

[code]

So that line should be:

[code]

This is using ruby 2

[2017-07-19 20:12] alexfalkowski commented on #94
So it looks like when I force the encoding the parsing works correctly.

[2017-07-19 20:23] alexfalkowski commented on #94
So is it forcing the wrong encoding?

[2017-07-19 20:36] alexfalkowski commented on #94
So this fixes is for me

[code]

[2017-07-20 20:23] #94 closed

[2017-07-20 20:24] hakanensari commented on #94
Thanks, @alexfalkowski. I pushed your fix to master.

[2017-07-20 20:39] alexfalkowski commented on #94
Thank you!

[2017-08-03 09:04] degendra opened #95 "FBA Inventory Reconciliation Report"
How do I get access to the information provided in the link that is posted below? Is there any specific API for this?
https://www.amazon.com/gp/help/customer/display.html/?&nodeId=201302330

Thanks

[2017-09-21 16:35] mjthompsgb opened #97 "create_shipment method returning 404"
I am having issues with the `create_shipment` method returning a 404 no matter what I do. I've used Peddler for a while and have had great luck with everything else but this won't work.

Trying something like this `create_shipment(o.shipment.info, rate[:offer_id])`

Getting `Excon::Error::NotFound: Expected(200) <=> Actual(404 Not Found)` no matter what.

Any ideas?

Thanks in advance.

[2017-09-21 23:29] hakanensari commented on #97
Rescue the error and check its response body to see if there is a hint?

[2017-09-22 05:45] philsmy opened #98 "How do subscriptions actually work?"
There is no documentation about this area and I think it's slightly complex.

I've registered a destination. But when I try to send a test I get an error:

subs.send_test_notification_to_destination("https://xxx.ngrok.io/amazon_sns_receiver")
Excon::Error::HTTPStatus: Expected(200) <=> Actual(424 Unknown)

Perhaps this is outside the scope of peddler, but, I can't find any information on what we a

[2017-09-22 12:43] mjthompsgb commented on #97
Awesome...thanks for the quick reply. Check that and getting `ShippingServiceNotAvailable` but going to do some more testing and see if the error code varies.

Thanks again.

[2017-11-03 23:37] hakanensari commented on #98
@philsmy I missed this issue. I'm assuming you would have sorted this out by now, but basically you create a [SQS queue](https://aws.amazon.com/sqs/) and provide its URL here.

[2017-11-04 02:38] philsmy commented on #98
Actually, I gave up on it.
So, I went to SQS and created a queue. The Queue url is something like this:
```https://sqs.us-east-1.amazonaws.com/<number>/my-test-q```

What are the steps required to get anything sent to this? Because in my testing I never got a single message, even on a very active Amazon account. Do I have to register a destination? Create a subscription? What exactly.

Does anyone

[2017-11-04 16:21] hakanensari commented on #98
Once you set up the destination, you have to create a subscription. Notifications then should start rolling in in real time.

(We use this to get price notifications.)

[2017-11-14 00:02] ecielam opened #100 "Simple calls fail with 'Missing secret' when using auth tokens"
I am trying to use peddler with third party credentials, as documented in the README.

Using the following options to client, I am getting ArgumentError: Missing secret from the 'jeff' gem on every call I've tried, including a simple #get_service_status call.
`
{:marketplace_id=>"AT<REDACTED>", :merchant_id=>"AF<REDACTED>", :auth_token=>"amzn.mws.<REDACTED>"}`

Stack Trace:

[code]
If I use it as

[2017-11-14 14:58] ecielam commented on #100
After looking a bit more at the jeff code and the MWS Amazon API docs, adding my app's aws keys to the call seems to make it work fine.

Perhaps change the readme to reflect this:

[code]

Thanks

[2017-11-14 15:09] hakanensari commented on #100
Ah, I see. Actually, you don't need to pass the credentials if you declare them as environment variables, but the README is confusing because of the ordering in the examples. I'll fix this, thanks.

[2017-11-14 15:15] #100 closed

[2017-11-14 15:19] hakanensari opened #101 "Don't assume a default marketplace or merchant"
In the next major version, simplify instantiation of clients by not assuming a default marketplace or merchant. Most sellers sell on multiple marketplaces. Some clients handle multiple sellers.

[2017-12-13 19:19] Trimakas opened #102 "The field PerUnitDeclaredValue has a value of USD, was expecting CAD"
I'm getting this error when requesting a shipment be sent from Canada to the US.

So I thought I would monkey patch the `create_fulfillment_order` `items` struct.

and just put in the values needed by Amazon.. an amount and currency type.

Problem I'm having is I can't find where `items` is defined anywhere.

Where should I look?

[2017-12-13 20:50] hakanensari commented on #102
It sounds like you are dealing with the US marketplace in this case, so you should perhaps include that as a parameter? Otherwise, Peddler or Amazon (not sure which one in this case) will default to your home marketplace.

[2017-12-14 10:47] ayb opened #103 "400 Bad Request Errors"
Getting the following 400 error from Excon while processing:

[code]

Strange things about this:
- it's working fine in development, but blows up in Production (local Macbook vs Linode Ubuntu server)
- if I don't run my full import and process method it works fine
- i.e. I can just fetch the raw data and view the full XML response in console, on production, and it works fine (i.e. I don't get the

[2017-12-14 14:07] hakanensari commented on #103
Hard to figure out if you have not been able to reproduce this even in console.

I don't know if it's feasible, but you may want to switch to using a new set of error classes I have that I do not enable by default. [You can see here how to do so.](https://github.com/hakanensari/peddler/blob/master/test/integration/test_errors.rb#L17) Their output should be more descriptive than the Excon 400.

[2017-12-14 14:21] ayb commented on #103
This has happened to me a few times over the past couple of years and I've always thought it was a throttling issue until I realized that throttling would be a 503 code (vs 400).

I think the issue is the server timestamp on my end, guessing my server time is slowly slipping and/or somehow ended up so that `2.minutes.ago` on production was < 2 minutes ago on Amazon's server and caused the 400.

Re

[2017-12-14 14:21] #103 closed

[2017-12-14 18:13] Trimakas commented on #102
This occurs when the user has a Canadian FBA account and we're requesting a shipment to the US. So its going across borders.. Seems to only request this when going from Canada to the US.. I just tried sending the marketplace as well and got the same error:

`<Message>The request must contain the parameter PerUnitDeclaredValue.</Message>\n  </Error>\n  <RequestId>92e57483-c9f8-40a1-82cb-6670a85fffe

[2017-12-14 18:16] Trimakas commented on #102
I've tried also including this in the `items` struct:
`Value = Struct.new(:currency_code, :value)`

And then items would look like this then:
`Struct.new(:seller_sku, :seller_fulfillment_order_item_id, :quantity, :per_unit_declared_value)`

But when I try that I get this error:
`<Message>the SellerSKU for Item Id: s2 is invalid.</Message>`

But `s2` isn't the SellerSKU, its the `seller_fulfillment

[2017-12-14 18:17] Trimakas commented on #102
That's why I was thinking I could change the `items` argument that's fed to `create_fulfillment_order` but I can't find how/where.

[2017-12-14 18:56] hakanensari commented on #102
Looking at [Amazon's docs](http://docs.developer.amazonservices.com/en_US/fba_outbound/FBAOutbound_CreateFulfillmentOrder.html), it does look like they have a new argument for marketplace. I'm pretty certain this is going to work if you include `marketplace_id: 'THE US MARKETPLACE ID HERE'` with the other arguments. I'll update the docs when I get a chance.

(Yes, Amazon changes their API without

[2017-12-14 19:14] Trimakas commented on #102
OK, let me see.. I was doing this and it didn't work??
`client.create_fulfillment_order("z536", "z536", Time.now.getutc, "Thank You", "Standard", address, sku, opts = {marketplace_id: "A2EUQ1WTGCTBG2"})`

but that is the Canadian marketplace.. the one that matches the `client`

let me try the destination marketplace..

[2017-12-16 08:08] AkshayGoyal022 opened #104 "Amazon AU issue. Not able to make API calls"
Hi,

I am trying to integrate Amazon AU but every time i try to make calls it throws an error **Peddler::Marketplace::BadId Exception: "A39IBJ37TRP1C6" is not a valid MarketplaceId**. I have confirmed that **A39IBJ37TRP1C6** is the id for amazon australia.

I am able to make calls for every other amazon region except this. I am not able to figure out what the issue is exactly. Can you help me out

[2017-12-16 10:04] AkshayGoyal022 commented on #104
Hi,

I found out the issue. I realised i was running an older version of the gem. Updating the gem version resolved the issue.

Thanks

[2017-12-16 10:04] #104 closed

[2018-01-15 10:32] PabloMD opened #105 "Possible conflict with Savon"
Probably there is some conflict with Savon, because if I include peddler in Gemfile I start receiving `Procedure 'X' not present` for my other code that uses Savon client ( https://github.com/savonrb/savon/issues/856). Or I should it use not as gem?

Edit:

Ok, I have to resolve the issue to progress with my app :-) So the problem is with HTTPI::Adapter::default_adapter. If I do not include the pe

[2018-01-15 13:04] #105 closed

[2018-02-21 16:53] noorani786 commented on #77
Did you guys get a chance to work on this?  Amazon is now throwing errors on this for the _POST_FLAT_FILE_PRICEANDQUANTITYONLY_UPDATE_DATA_

[2018-02-22 21:45] hakanensari commented on #77
Yep, see linked commit above

[2018-02-22 21:51] noorani786 commented on #77
Sorry just not familiar with GitHub I guess.  I am only seeing config file changes:

<img width="1047" alt="screen shot 2018-02-22 at 3 49 27 pm" src="https://user-images.githubusercontent.com/1447852/36566101-1ced8338-17e8-11e8-89dd-770580cf683e.png">

[2018-02-22 22:00] hakanensari commented on #77
You got me there. I actually implemented this in a dependency:

https://github.com/hakanensari/jeff/commit/d3a8d35eeaf41f279665a6fa42636aa1b8229d76

I'll also change the version requirement for Jeff to reflect this, now that the deprecated header no longer works.

[2018-02-23 15:17] noorani786 commented on #77
Got it.  Thanks!

On Thu, Feb 22, 2018 at 4:00 PM, Hakan Ensari <notifications@github.com>
wrote:

[2018-02-24 06:10] prathip111 opened #106 "Feedback Report Error"
I'm trying to pull amazon feedback API (_GET_SELLER_FEEDBACK_DATA_) but i am getting error response Done_No_Data but I'm getting data manually submitting the report from amazon seller central.

**_Submitting Request:-_**

client = MWS::Reports::Client::new(
  primary_marketplace_id: "A21TJRUU*****",
  merchant_id: "A1EX79S*******",
  aws_access_key_id: "AKIAJPPWNF**********",
  aws_secret_access_k

[2018-02-24 08:47] prathip111 commented on #106
Can you please help me how can i get negative feedback throw API using your gem file in rails..

[2018-02-25 16:53] hakanensari commented on #106
This is not related to the gem.

In any case, report type looks incorrect, try `_GET_SELLER_FEEDBACK_DATA_`.

[2018-02-26 04:40] prathip111 commented on #106
Thanks for your immediate response...but i have an issue mention below..

I used the above method but i'm not able to get generated report data, It showing "DONE_NO_DATA". But if i pulling manually i got the correct report with data.

Issue Images:-

The images shows the difference between manually generated reports and peddler generated reports:-

![issue peddler 1](https://user-images.githubuser

[2018-03-01 11:11] prathip111 commented on #106
Bro please help me

[2018-03-01 12:57] hakanensari commented on #106
I see what the issue is &mdash; MWS seems to default the optional `start_date` to now, which is not what you want here.

You can see what happened in the `Date Range Covered` column: you basically generated a report for a particular point in time rather than a range.

Long story short, you should be fine if you specify a `start_date` when requesting the report.

I should have possibly specified de

[2018-03-02 09:28] prathip111 commented on #106
Thank you for the response its working perfectly now... Appreciate your time and effort

[2018-03-02 09:36] prathip111 commented on #106
I need another help,  I facing throttling issue in 'VACUUM' gem (It occurs when i request more than 10 queries in a loop)

request = Vacuum.new('IN')

request.configure(
  aws_access_key_id: 'AKIAJGAXOKAK********',
  aws_secret_access_key: 'yPWtg3vMUTDX5IP0Ko8VJ********************',
  associate_tag: 'pen*********'
)

response = request.item_lookup(
  query: {
    'ItemId' => '1937707881',
    'Re

[2018-03-22 19:38] udit7590 opened #108 "Need documentation on how to update product price using FEED Api"

[2018-05-01 17:09] alexfalkowski opened #110 "Country codes."
Hi,

This is a question regarding the changes in 2.0. When I do

[code]

I no longer have `UK` but it has been replaced with `GB`. According to this https://docs.developer.amazonservices.com/en_US/dev_guide/DG_Endpoints.html it should be `UK`. Was just wondering why the change as this impacts us.

[2018-05-02 00:32] hakanensari commented on #110
Wow, you noticed this 😮

I ended up sticking to [standard country codes](https://en.wikipedia.org/wiki/ISO_3166-2)  but added a [guard](https://github.com/hakanensari/peddler/blob/master/lib/peddler/marketplace.rb#L25) to accommodate `UK` as well, so all should be good.

[2018-05-02 01:09] alexfalkowski commented on #110
@hakanensari - yes I noticed cause we wrote out own `find_by_country_code`. Will user your new find then.

[2018-05-02 01:09] #110 closed

[2018-05-12 13:35] #59 closed

[2018-05-12 13:35] #70 closed

[2018-05-12 13:35] #79 closed

[2018-05-12 13:35] #81 closed

[2018-05-12 13:35] #82 closed

[2018-05-12 13:35] #83 closed

[2018-05-12 13:35] #85 closed

[2018-05-12 13:35] #89 closed

[2018-05-12 13:35] #95 closed

[2018-05-12 13:35] #97 closed

[2018-05-12 13:35] #98 closed

[2018-05-12 13:35] #102 closed

[2018-05-12 13:35] #106 closed

[2018-05-18 06:28] prathip111 opened #111 "Get Orders doesn't work for multiple orders"
response = client.get_order("XXX-1236548-4587XXX", "XXX-1546987-7845XXX")
order = response.parse

The documentation says it can take upto 50 orders as input..but while 'response' has info for all 50 orders, once it's parsed, only the first order seems to show.

[2018-05-18 13:01] hakanensari commented on #111
@prathip111 I'm not sure, everything looks in order in [the test](https://github.com/hakanensari/peddler/blob/master/test/integration/test_orders.rb#L7-L22).

[2018-05-22 11:54] prathip111 commented on #111
your testing code is working fine thanks a lot...

[2018-05-22 11:54] #111 closed

[2018-05-28 23:02] noorani786 opened #112 "How do I pass array of prep details instructions when creating inbound shipment plans?"
Passing it as follows but not working:

[code]
But it doesn't seem to be working.  Here is what peddler is generating:
[code]

Can you please help? Thanks!

[2018-06-01 16:02] hakanensari commented on #112
@noorani786 Thanks for reporting, I fixed this.

[2018-06-08 06:27] prathip111 commented on #90
If there is any api for seller and customer messaging service?

[2018-06-12 15:56] noorani786 commented on #112
Excellent! Thank you.

[2018-06-12 16:01] noorani786 opened #113 "Mws Feeds response parsing breaks half away if feed response has blank lines."
See attached file containing response from MWS.  Parsing stops after 95 rows because of the extra newline characters.

FeedType submitted: _POST_FLAT_FILE_INVLOADER_DATA_

[code]

[jacob_report.csv.zip](https://github.com/hakanensari/peddler/files/2094780/jacob_report.csv.zip)

[2018-06-12 16:06] noorani786 commented on #113
Given how unreliable feed responses have been, wondering if it is better to just read the file line-by-line and then pass it over to CSV.parse_line with begin..rescue?

[2018-06-12 20:52] noorani786 commented on #113
Figured out the issue on this one.  Here is the proposed fix:

peddler/flat_file_parser.rb

def extract_content_and_summary
      @content = body.encode('UTF-8', invalid: :replace, undef: :replace)
      parts = @content.split("\n\n") if @content.include?("\n\n")
      @summary = parts[0]
      @content = parts[1..parts.length-1].join()
 end

[2018-06-13 22:22] hakanensari commented on #113
Thanks for reporting and explaining the bug, @noorani786. I'll push a fix to master.

[2018-06-13 22:23] #113 closed

[2018-06-19 23:20] noorani786 commented on #112
Hey... did you release this yet on 2.0?

[2018-06-20 13:37] noorani786 commented on #112
Still breaks if you have more than one item with PrepDetailsList.  See below:

`InboundShipmentPlanRequestItems.member.141.PrepDetailsList.member.1.PrepInstruction=Labeling&InboundShipmentPlanRequestItems.member.141.PrepDetailsList.member.1.PrepOwner=AMAZON&InboundShipmentPlanRequestItems.member.141.Quantity=5&InboundShipmentPlanRequestItems.member.141.SellerSKU=SC2-33-JIMA5BRP&InboundShipmentPlan

[2018-06-22 18:38] hakanensari commented on #112
@noorani786 I'm not sure, perhaps your request is set up incorrectly? The test ☝️ still passes with multiple items.

[2018-06-22 23:06] noorani786 commented on #112
The following `request_items` array will break the test, ie. passing multiple items with prep-instructions.

[code]

[2018-06-29 13:00] #112 closed

[2018-06-29 13:01] hakanensari commented on #112
@noorani786 Thanks again for reporting, I just pushed a fix

[2018-07-01 05:28] noorani786 commented on #112
This works now.  All that is remaining now is to add

`.structure!('PrepDetailsList', 'member')`

to `create_inbound_shipment` and `update_inbound_shipment`  :)

Thanks!

[2018-07-01 18:09] hakanensari commented on #112
Thanks for the PR @noorani786. I also ended up fixing another issue ☝️

[2018-07-04 06:04] basco-johnkevin opened #115 "Is this a bug?"
An amazon order w/ 2 order items is weird in the value returned by `client.list_order_items("<amazon_order_id>")`.

The amazon order has 2 order items but instead of having 2 "OrderItem" under "OrderItems", there's only 1 "OrderItem". And that single "OrderItem" has 2 objects inside it.

See below:

[code]

Is that unexpected? Or it's how peddler really works?

[2018-07-04 06:45] veerankuttyvp opened #116 "Update California Prop-65 type and chemical names Before August 1"
I got a message from Amazon to update prop-65 type and chemical names  on my existing listing before August 1, Is there any way on this library to update those details?

[2018-07-04 12:36] hakanensari commented on #116
It sounds like something you should be able to do [sending a feed](http://docs.developer.amazonservices.com/en_US/feeds/Feeds_FeedType.html).

 I'm afraid I can't help beyond this—reading the docs, googling, and asking on the Amazon Seller Forum should get you further.

[2018-07-04 12:44] veerankuttyvp commented on #116
Thanks Friend, I didn't get correct answer from them actually, they are saying about modifying directly on seller central :)

[2018-07-04 12:56] hakanensari commented on #115
Unfortunately that's how Amazon structures the data.

If you're looking for a more intuitive representation, check out [this parser](https://github.com/hakanensari/mws-orders). It sits on top of Peddler.

[2018-07-17 06:39] prathip111 opened #117 "Communicate with buyers using the Buyer-Seller Messaging Service"
Is there an API to access all the messages received? Also is there an ability to reply?

[2018-07-17 12:03] hakanensari commented on #117
Not that I know of, @prathip111

[2018-07-17 14:19] prathip111 commented on #117
Thanks for the response. Its okay

[2018-07-17 14:19] #117 closed

[2018-08-08 07:49] #115 closed

[2018-08-13 21:42] blairanderson opened #118 "MWS FBA get_package_labels (GetPackageLabels) as PDF file"
https://docs.developer.amazonservices.com/en_US/fba_inbound/FBAInbound_ExtractingPdfDocumentData.html

[code]

This lib parses CSV files from other parts of the API and might be a nice addition for the PDF as well.

not sure if/how/where you would accept this.

[2018-08-13 21:42] blairanderson commented on #118
FYI @hakanensari thank you for this GEM. Amazing 👍

[2018-08-14 07:31] #90 closed

[2018-08-17 11:07] hakanensari commented on #118
@blairanderson I’m not sure if there any other operations elsewhere in the API that serve PDFs. This could certainly be something useful.

 I’m off the grid now but will look into this when I return next month.

[2018-09-22 08:47] prathip111 opened #119 "Settlement report"
How can i use mws settlement report throw peddler gem?

[2018-10-12 22:42] Trimakas opened #120 "Looking like Australia hasn't been added to the gem?"
Hi,
Amazon recently enabled the Australian FBA marketplace, but it looks like the gem hasn't been updated with the marketplace yet. The Australian marketplace id is: A39IBJ37TRP1C6

According to [Amazon here](http://docs.developer.amazonservices.com/en_IN/dev_guide/DG_Endpoints.html)

Because when I try to connect I'm getting this error:

`"A39IBJ37TRP1C6" is not a valid MarketplaceId (Peddler::Ma

[2018-10-12 22:42] Trimakas commented on #120
And by the way, lovely gem, thank you so much!!

[2018-10-13 07:36] hakanensari commented on #120
The latest gem does support Australia. Perhaps you have an earlier version?

[2018-10-13 16:05] Trimakas commented on #120
Yes it does.. thanks for getting back to me!

[2018-10-13 16:05] #120 closed

[2018-10-20 03:03] blairanderson commented on #118
#close

[2018-10-29 01:01] danielparker00 commented on #82
[code]
identifier: 'request1' should be added.

[2018-10-29 21:00] hakanensari commented on #118
@blairanderson sorry for the late response, and thanks for taking the time to post and explain.

I did some digging around and found that the Merchant Fulfilment API is also [embedding labels, but in a slightly different way](http://docs.developer.amazonservices.com/en_US/merch_fulfill/MerchFulfill_Datatypes.html#FileContents)—they're gzipped instead of zipped. I'm not sure if it matters, but the

[2018-10-30 17:29] blairanderson commented on #118
Totally cool.

I’m actually having trouble with carton labels for multi-sku shipments.

I do think it would be better just adding to the docs instead of implementing helpers because they might not get much direct usage.

Thanks again for help

[2018-11-07 08:57] sabatsu commented on #65
Same here...
I keep on getting:
Peddler::Errors::MalformedInput: Unexpected complex element termination

[2018-11-27 23:17] blairanderson opened #121 "fulfillment_inbound_shipment - Labels are ALWAYS "SINGLE SKU" when i put_transport_content multiple SKUs"
i'm submitting carton contents XML feed

[code]
[code]

## 2 submitting the packing list

[code]

## 3 Fetching the transport contents

[code]

[2018-11-28 09:37] #119 closed

[2018-12-03 00:16] yubrew opened #122 "get_prep_instructions_for_asin throws Validation error"
I am getting a validation error when getting prep instructions using ASINList, but there are no problems using SKUList:

`response = client.get_prep_instructions_for_asin('US', 'asinexample')
Peddler::Errors::ValidationError: 1 validation error detected: Value null at 'asinList' failed to satisfy constraint: Member must not be null
from /Users/ylee/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/pe

[2018-12-05 14:13] yubrew commented on #121
Is this behavior different than creating the label from SellerCentral for you? For a 1 SKU in 1 box, it says "SINGLE SKU" and the specific sku on the label. However, when I put multiple SKUs in a box, the label still says "SINGLE SKU", but does not have the specific sku.

For me, it works this way in SellerCentral, MWS scratchpad and with peddler; I think there's no error.

[2018-12-05 20:16] blairanderson commented on #121
@yubrew are you saying that what i'm submitting looks to be OK?

When i get back the labels generated from MWS they're missing the SKU and they state "SINGLE-SKU".

I agree that SellerCentral does include both the item SKU and says "Single-SKU" but my MWS labels just say "SINGLE-SKU" without the SKU number shown beneath.

[2018-12-05 20:20] blairanderson commented on #121
@yubrew i'm confirming this was submitted with the same process as shown above with 3 SKUs.

It shows 3 boxes correctly, but each shows "single sku" even though they should have the sku number written on them.

![github](https://user-images.githubusercontent.com/955736/49541585-0b158300-f888-11e8-8a65-9f616e11f68a.jpg)

[2018-12-10 19:57] blairanderson commented on #121
@yubrew how do you identify which labels are supposed to be attached to which cartons?

[2018-12-22 23:59] urirahimi commented on #69
What was the fix for this? Am getting the same issue where only the settlement data for the last couple of months is being displayed.

[2019-01-06 06:18] #118 closed

[2019-02-06 14:48] Trimakas opened #125 "Not an issue, just a question"
Hi,
I have all my customers subscribed to the `FulfillmentOrderStatusNotification`  But I'm suddenly not getting all the messages when an order is shipped. It's very random and only happens when the order is fulfilled.

Any idea how to deal with missing/not sent messages in the SQS queue?

Thanks
Todd

[2019-02-15 11:42] hakanensari commented on #122
@yubrew, it seems Amazon has a bug upstream and are expecting `AsinList` instead of `ASINList` as a request parameter. I'll implement a workaround.

[2019-02-15 12:21] #122 closed

[2019-02-15 21:25] #121 closed

[2019-02-19 12:49] prathip111 opened #126 "list_financial_event_groups issue"
I'm trying to pull amazon feedback API (_GET_SELLER_FEEDBACK_DATA_) but i am getting error response
BadRequest: Expected(200) <=> Actual(400 Bad Request

**Submitting Request from my side:-**
response = client.list_financial_event_groups(financial_event_group_started_after: (Time.now.to_date - 15.days).strftime("%F"),max_results_per_page: 100)

[2019-03-01 04:36] hobbydev20 commented on #112
Hi,
So what's the correct syntax to call the create_inbound_shipment?

[2019-03-01 04:38] hobbydev20 opened #127 "How to pass items when create Inbound Shipment, maybe question"
Hi,
When I try create_inbound_shipment , it's not working well as create_inbound_shipment_plan?
How to pass the inbound_shipment_items as params?

[2019-03-10 03:54] #127 closed

[2019-03-25 13:56] JapSeyz opened #128 "CSV report being with wrong charset"
Hi,

When running `report = client.get_report(report_id)`

`report.headers` show a `charset=UTF-8` header, however running `report.body.encoding` returns `#<Encoding:Windows-1252>`

Running `report.parse` seems to try to parse the file, but fails to do so accurately as it turns German characters into an UTF-8 string with ISO-8859-1 bytes.

Input: `schwarze Metallfüße`
Parsed: `schwarze MetallfÃ¼ÃŸ

[2019-03-25 21:31] hakanensari commented on #128
@JapSeyz so I can take a closer look, what's the [report type](https://docs.developer.amazonservices.com/en_US/reports/Reports_ReportType.html)?

[2019-03-25 21:33] JapSeyz commented on #128
@hakanensari Yeah for sure, it's a `_GET_CONVERGED_FLAT_FILE_ORDER_REPORT_DATA_`, spanning back three days worth of orders.

Cheers

[2019-03-27 09:53] JapSeyz commented on #128
Here's some example data I received:

Original from Amazon:
Jürgen

Parsed:
JÃ¼rgen

string.encoding: UTF-8

Bytes:
74
195
131
194
188
114
103
101
110

[2019-03-27 15:20] hakanensari commented on #128
@JapSeyz I did reproduce the bug and will have to refactor parsing. My old assumptions about how Amazon encodes seem to no longer hold. I'm also not sure why I was not using the charset returned in the header. This was possibly not available when I originally worked on the parser 🤔

In any case, until I refactor—

[code]

[2019-03-27 17:29] JapSeyz commented on #128
Unfortunately that doesn't fix it.

As far as I can see, it's ASCII-8bit when it comes from Amazon, then it's being force-encoded to CP1252, and then encoded to UTF-8.

I am not sure that force_encoding is destructive, ie does it overwrite the original string? here it says it returns the force_encoded string: https://ruby-doc.org/core-2.1.0/String.html#method-i-force_encoding and parser doesn't ha

[2019-03-29 10:19] JapSeyz commented on #128
@hakanensari I am also getting issues with replacement characters in Spanish names: VÃ�CTOR

So far I've resulted to gsub the known replacements, but it's not really feasible at scale.

Cheers

[2019-04-05 15:37] #128 closed

[2019-04-05 15:48] hakanensari commented on #128
@JapSeyz thanks for reporting this. I just pushed a fix and will bump version momentarily.

To recap the story for future reference, Amazon seems to have silently changed its encoding behaviour in the Reports API, breaking our flat file parsing. They used to encode files in a variety of encodings and not advertise the latter explicitly. Now they encode (possibly) everything  in UTF-8 and return th

[2019-04-05 15:59] hakanensari commented on #125
@Trimakas I'm not sure. It sounds like you may be silently skipping over some notifications by mistake, assuming you are popping everything off the SQS queue?

[2019-04-08 12:05] JapSeyz commented on #128
Hi @hakanensari The update seems to have fixed the encoding issues

[2019-04-09 19:23] Trimakas commented on #125
@hakanensari yep i am.. I even created a dead message queue.. but nothing.. super weird.. can't figure it out

[2019-04-24 03:51] noorani786 opened #129 "Quantity updated on both US and CA even though only CA was specified"
I submitted Price & Quantity feed and specified just CA marketplace 'A2EUQ1WTGCTBG2'.  The SKU exists on both marketplaces.  Instead of quantity updating on just Amazon CA, quantity changed on both US and CA.  Ran it multiple times and got the same result.  Please look into this.

[2019-04-24 09:43] hakanensari commented on #129
This sounds like what the API is supposed to do. Perhaps you need to [limit the marketplace with a keyword](https://github.com/hakanensari/peddler/blob/master/lib/mws/feeds/client.rb#L22)?

[2019-04-24 14:04] noorani786 commented on #129
I am passing marketplace_id_list => 'A2EUQ1WTGCTBG2' so it only affects CA.  Shouldn't that limit to the just CA?  Can you elaborate what you mean by keyword?  Thanks!

[2019-04-24 18:27] hakanensari commented on #129
Yes, that's what I meant. So you're still ending up uploading the feed to both marketplaces?

You can inspect what the request looks like by setting `EXCON_DEBUG=1` in the environment. If the parameters are fine, I'd suggest following up with the MWS team.

[2019-04-27 14:12] #126 closed

[2019-05-28 10:55] aryanj723 opened #130 "Not running"
The program is not running....or maybe I am not able to run the list_order section section,,,pls  help

[2019-06-08 18:41] nandhini08 opened #131 "Not getting nextToken in the ListOrders response"
I am trying to get the orders from amazon using `listOrders`. When I try this request in `MWS Scratchpad` I am able to see the `nextToken` in the response. However when the request is given using `Peddler` I am `not getting the nextToken`.

I need the nextToken to make `client.list_orders_by_next_token(nextToken)` request.

[2019-06-09 04:50] #131 closed

[2019-06-10 17:08] andrewhavens opened #132 "Where to find merchant_id?"
Sorry if this question is really simple. I can't seem to find our `merchant_id`. I found something in our account info called a "Merchant Token"...is that the same thing? (I'm trying to build an application that will be used internally. It won't be distributed through the "App Store")

[2019-06-10 22:31] hakanensari commented on #132
Amazon displays your merchant ID on the page where they reveal your MWS credentials (AWS keys etc.)

The [help pages](https://docs.developer.amazonservices.com/en_UK/dev_guide/DG_Registering.html) should guide you in case you have trouble finding this.

[2019-06-11 17:33] andrewhavens commented on #132
Hmm...the page that you are referring to only shows the "Developer ID"...is that the same thing?

<img width="630" alt="Screen Shot 2019-06-11 at 10 29 08 AM" src="https://user-images.githubusercontent.com/446392/59293513-2d6fcb00-8c34-11e9-8104-a0cd547754e9.png">

[2019-06-12 14:09] hakanensari commented on #132
It seems they made some changes and inadvertently removed the option to request MWS credentials to access your own account. As a workaround, you could add yourself as a third-party app using that developer ID. This should take you to a final page where they display the merchant (seller) ID.

Let me know if you get in touch with Seller Support and find out more on this. We could update the README a

[2019-06-13 00:32] andrewhavens commented on #132
I tried simply using the "Merchant Token" and it seems to be working. Maybe they just renamed it.

<img width="947" alt="Screen Shot 2019-06-12 at 5 29 21 PM" src="https://user-images.githubusercontent.com/446392/59395290-0d293480-8d38-11e9-9c90-99a53ea4582f.png">

<img width="712" alt="Screen Shot 2019-06-12 at 5 29 42 PM" src="https://user-images.githubusercontent.com/446392/59395268-f2ef5680-8d

[2019-06-13 11:08] #132 closed

[2019-06-15 19:53] #125 closed

[2019-06-25 16:17] hemaldev opened #134 "Ability to mark an order as fulfilled (+ submit carrier tracking number)"
Hi there,

Firstly, thanks for the gem – I'm volunteering with a non-profit organisation in South India that makes handmade paper and we are currently dipping our toe into Amazon's US marketplace. We are adding around 1k+ SKUs from our ecommerce platform (which powers our Etsy shop) built in Rails and your gem looks like it will make things a breeze for us on Amazon.

We need to do 3 things and we

[2019-06-30 19:44] #129 closed

[2019-07-22 09:55] hakanensari commented on #134
@hemaldev I'm sure you have figured out the answers, but I'll chime in.

1. Yes
2. I did not want to hard code any XML library as a dependency, so you will  have to implement this yourself. Alternatively, you can send a flat file if that feels more convenient to build.
3. Off the top of my head, you will want to send an [order fulfilment feed](https://docs.developer.amazonservices.com/en_US/feeds/

[2019-08-03 12:12] #130 closed

[2019-08-22 06:21] hemaldev commented on #134
@hakanensari Thanks for the heads up on these points. We paused the project as we're still waiting to be approved by Amazon for access to the API. Do you happen to have a contact there who might be able to help? Any help or pointers much appreciated...

[2019-08-30 23:42] andrewhavens opened #136 "Unknown error due to failure in parsing"
I noticed an error in our logs:

    undefined method `[]' for nil:NilClass

After further investigation, I realized it was happening inside peddler. A call to `get_fulfillment_order` resulted in an error response from MWS. However, peddler had a problem trying to determine the error code.

[code]

I looked at the peddler source, and it looks like the problem is that `parse` returned nil. https://

[2019-09-04 06:43] ingnam opened #137 "undefined method `key?' for nil:NilClass"
I am using **peddler version 1.6.2**. When parsing the response, I got following error:
`undefined method 'key?' for nil:NilClass`

And here is the backtrace:
[code]

Here is the response:
[code]

Is it due to older version of the gem?

[2019-09-04 11:38] hakanensari commented on #136
@andrewhavens, thanks for reporting.

This looks like an edge case. I'm adding a guard so we correctly bubble up the original HTTP status error.

About logging, I think it's best if you did this on your end? When hitting MWS, you could simply rescue, log, and re-raise.

[2019-09-04 11:39] #136 closed

[2019-09-04 12:21] hakanensari commented on #137
@ingnam, I can't reproduce this error. My hunch is that this does not have to do with Peddler; the parser has no recent changes. Perhaps you could try bumping up Ox?

[2019-09-04 13:02] hakanensari commented on #134
@hemaldev, sorry, no. Keep hammering on their door.

[2019-09-05 04:24] #134 closed

[2019-09-11 07:14] ingnam commented on #137
@hakanensari, I'm doing more investigation on this but one thing that I've figured out is this issue can be reproduced with the invalid xml format:
`MultiXml.parse("<?xml version=\"1.0\"?>\n></xml>")`

Not sure who should handle it; **peddler** or **multi_xml**.

[2019-09-11 10:17] hakanensari commented on #137
I copy-pasted the XML in the original issue post above into a test, and it seemed to parse fine, so I’m assuming it was valid? I’m still not quite getting how this is happening in the wild.

About your question, it’s the underlying XML library that would complain the input is not valid XML (or otherwise fail noisily). I can imagine Peddler patching the invalid XML if we’re dealing with a persisten

[2019-09-11 20:01] hakanensari commented on #137
Edited comment☝️ to add test code

[2019-09-15 07:35] jackscotti opened #138 "Invoice generation and upload"
Hi Hakan,

First, let me say, this gem is great! You made our lives so much easier!

Amazon just started to request invoice upload for every order, are you by any chance adding this feature to Peddler?

[VAT Calculation Service (VCS): Developer Guide](https://m.media-amazon.com/images/G/01/B2B/DeveloperGuide/vat_calculation_service__dev_guide_H383rf73k4hsu1TYRH139kk134yzs.pdf)

[2019-10-09 09:51] hakanensari commented on #138
Hi @jackscotti

Sorry for the late reply. I skimmed through the guide. If I understand correctly, they require you to base64-encode the PDFs and upload with a feed.

I would expect you to implement this on your end—there are quite a few other feeds where Amazon expects non-text data, and Peddler doesn't support any at this point.

They have some Java sample code in the guide; you could reimplement

[2019-10-15 16:44] nandhini08 opened #140 "`get_feed_submission_result` returns nil"
when I try the request  `get_feed_submission_result` I get nil response.
[code]
However for the same feed ID I tried from Amazon Scratchpad and I get proper response.
![Screenshot 2019-10-15 at 10 14 30 PM](https://user-images.githubusercontent.com/32125751/66851807-303f4b80-ef99-11e9-9272-3c38bd74d1fe.png)

[2019-10-15 19:03] nandhini08 commented on #140
@hakanensari any idea why I am facing this issue

[2019-10-17 08:57] hakanensari commented on #140
@nandhini08 are you by any chance using an older version of Peddler? There was a fix in the parser a couple of years ago for this response type.

[2019-10-22 12:44] AnkitRathore175 commented on #98
HI @guys
I have a query instead,
I want to trigger the same kind of event on price changes or offer changes, and referring this doc http://docs.developer.amazonservices.com/en_CA/subscriptions/Subscriptions_Overview.html
I have registered the destinations and subscribed as well.
Now my question is that, how can i just trigger an event for any offer change event, so I can see the real payload and p

[2019-11-17 21:49] #137 closed

[2019-12-13 08:42] janklimo opened #141 "Broken See Also docs links"
I randomly stumbled upon a broken docs link in the codebase. I `grep`ed the whole codebase for all links referenced after `@see` and ran a script to check if they work. Here's the full list of the broken ones:

[code]

These are the updated versions:

[code]

Maybe something that could be built into the actions pipeline?

[2019-12-13 10:57] hakanensari commented on #141
That’s a fantastic idea. We could also run the check on a schedule. Would you like to take a stab at this?

[2019-12-13 14:01] janklimo commented on #141
Great! I'll open a PR with a working version 👍

[2019-12-14 18:02] #141 closed

[2019-12-23 10:14] #140 closed

[2020-02-03 08:54] usamanasirqb commented on #122
@yubrew @hakanensari
I was also working on a same problem i.e. `same error while fetching FbaFee for a particular ASIN` and even requesting on `AMAZON ScratchPad` was not working, I did some more research and found out that ASIN may lack some information, because of which AMAZON cannot identify your requested data. As for me, it was DIMENSIONS missing for that ASIN, so you won't know what the prob

[2020-03-25 16:19] NaitoYuki opened #144 "MWS get_report encoding issues not UTF-8 but UTF8"
Hi,
Thanks for the this library. We are using MWS::Reports::Client.

We are using `get_report(request_id)` method for `_GET_MERCHANT_LISTINGS_ALL_DATA_` report.

some response is the below error. `unknown encoding name - UTF8`
[code]

I found the error is the below. `match_data ` is UTF8.
https://github.com/hakanensari/peddler/blob/1e1dde3e597d0ecf1be812468d5001fceb00f59e/lib/peddler/headers.rb#L4

[2020-03-26 11:24] #144 closed

[2020-03-26 11:24] hakanensari commented on #144
@NaitoYuki Thanks for reporting, I pushed a fix to master

[2020-03-27 03:37] NaitoYuki commented on #144
@hakanensari Super Thanks!!!

[2020-04-13 15:07] marytal opened #145 "InvalidMarketplace error from Amazon turns into a parse error"
Hey!
I'm attempting to submit an inventory update feed, but the account I'm submitting it for is suspended. Instead of getting `Peddler::Errors::InvalidMarketplace`, I see `ArgumentError · wrong number of arguments (given 2, expected 0..1)`

I cannot rescue `Peddler::Errors::InvalidMarketplace` (even though I've defined the error in my repo) because I'm thinking the parsing error happens before it

[2020-04-13 16:54] hakanensari commented on #145
What line is throwing that error—could you paste here the traceback?

[2020-04-14 14:13] marytal commented on #145
Sorry, here it is:
[code]

[2020-04-14 17:18] #145 closed

[2020-04-14 17:23] hakanensari commented on #145
[code]

It's a type error. You need to inherit from `Peddler::Errors::Error`, not `StandardError`. I added a guard to alert about this in runtime, which should make things more resilient.

[2020-04-14 18:38] marytal commented on #145
Thank you!!

[2020-05-05 06:58] ziptofaf commented on #138
@hakanensari Hello, I am encountering a similar issue as I am trying to send a binary PDF file through Peddler and feeds API.

I have forked your project and added few lines that accept an optional binary argument when trying to submit a feed and set Content-Type to application/octet-stream in that situation. Will you accept a pull request or do I have to stick to my fork forever now?

https://git

[2020-05-05 10:42] hakanensari commented on #138
@ziptofaf yes, handling the content type header definitely makes sense.

Maybe we could check if file is binary in the code and do all this transparently in the background? Off the top of my head, would the mime-types gem handle this?

[2020-05-05 10:51] ziptofaf commented on #138
@hakanensari Hmm, not necessarily mime-types (since after all we are pushing file contents, not it's name and from Ruby perspective it's just a string). However I can do this:

[code]

That returns ASCII-8BIT which is enough to guess that we are dealing with a binary file (there's also .names which returns ['ASCII-8BIT', 'BINARY']). Amazon doesn't really expect to see "application/pdf" there, it j

[2020-05-05 12:39] hakanensari commented on #138
Sounds good, you probably want to read only a bit of the file not to bloat memory?

[2020-05-05 12:54] ziptofaf commented on #138
Am I missing something in the API of peddler that you can only send it a filename/path? I mean, I don't see a place for optimization that would check only first few bits as looking at the submit_feed it only accepts a file content, the whole thing already loaded from file into string. Plus it has to send it to amazon anyway in the next step so whether it's preloaded or not doesn't really change mu

[2020-05-05 13:13] hakanensari commented on #138
You’re absolutely right, I was writing on my phone without looking at the original code 😀 This looks great, let’s merge this with a pull request? Could you add an entry to CHANGELOG as well?

[2020-05-05 13:21] ziptofaf commented on #138
@hakanensari Sure, added :) I assumed it that it will be 2.4.1 version entry since it's effectively a small fix.

[2020-05-05 17:27] hakanensari commented on #138
@ziptofaf :+1::+1::+1:

[2020-05-05 17:27] #138 closed

[2020-05-08 15:01] leoplct opened #147 "ArgumentError: unknown encoding name - utf8 for chinese header"
I am receiving this error.
ArgumentError: unknown encoding name - utf8
`[GEM_ROOT]/gems/peddler-2.1.1/lib/peddler/headers.rb:50:in `find'`

**Last response**
{"ReportType"=>"_GET_MERCHANT_LISTINGS_DATA_", "ReportProcessingStatus"=>"_DONE_", "EndDate"=>"2020-05-08T14:56:02+00:00", "Scheduled"=>"false", "ReportRequestId"=>"54774018390", "StartedProcessingDate"=>"2020-05-08T14:56:07+00:00", "Submitte

[2020-05-08 15:54] hakanensari commented on #147
Sounds the same as #144. Could you upgrade the gem?

[2020-05-08 16:01] leoplct commented on #147
After run "bundle update peddler" I am receiving the same error

[GEM_ROOT]/gems/peddler-2.4.1/lib/peddler/headers.rb:53:in `find'

[2020-05-10 10:51] hakanensari commented on #147
@leoplct The above change will hopefully squash this bug. Could you test with the master and see if it works?

[2020-05-11 10:59] leoplct commented on #147
It doesn't return error, but it can't parse the FlatFile. All values are nil.
Here the first row of Flat file .content(). It' Chinese. Maybe that's the reason. Is it possible to have an English report?

商品名称	商品描述	商品编码	卖家 SKU	价格	数量	开售日期	不适用项目	是否为商城中的商品	商品编码类型	不适用项目	商品备注	商品状况	不适用项目	不适用项目	不适用项目	ASIN1	不适用项目	不适用项目	国际配送	加急配送	不适用项目	商品编码	不适用项目	添加-删除	等待购买数量配送渠道	企业商品价格	数量折扣价格类型	数量下限 1	数量折扣价格 1	数量下限 2	数量折扣价格

[2020-05-11 13:51] hakanensari commented on #147
It sounds like your flat file is not working with the [formatting options](https://github.com/hakanensari/peddler/blob/master/lib/peddler/flat_file_parser.rb#L14) in the existing parser. Could you attach the response body (the first couple of lines, at least) so I can check its formatting?

[2020-05-11 13:59] leoplct commented on #147
商品名称	商品描述	商品编码	卖家 SKU	价格	数量	开售日期	不适用项目	是否为商城中的商品	商品编码类型	不适用项目	商品备注	商品状况	不适用项目	不适用项目	不适用项目	ASIN1	不适用项目	不适用项目	国际配送	加急配送	不适用项目	商品编码	不适用项目	添加-删除	等待购买数量	配送渠道	企业商品价格	数量折扣价格类型	数量下限 1	数量折扣价格 1	数量下限 2	数量折扣价格 2	数量下限 3	数量折扣价格 3	数量下限 4	数量折扣价格 4	数量下限 5	数量折扣价格 5	卖家配送组
Waterproof Sunshade Cover (180 * 180, Blue)	Material: Waterproof and UV resistant Oxford cloth <br><br> Color: green black blue <br><br> Product

[2020-05-12 10:36] hakanensari commented on #147
@leoplct, so strictly speaking, Peddler does parse the flat file, but the issue is you're not able to use the English headers you would expect MWS to return—e.g. you're getting `'卖家 SKU'` in place of `'seller-sku'`.

Yes, this is annoying, but I think it's best you handle this outside of Peddler as we don't have the data to abstract this properly for **every** locale and report type. I'm quite sur

[2020-05-12 10:46] leoplct commented on #147
Ok, Do you know what's the simplest report to get all ASIN/SKUs for FBA+MFN with inventory > 0 ?

I only need these attributes:
asin: row.field("asin1"),
sku: row.field("seller-sku"),
title: row.field("item-name"),
image: row.field('image-url'),
price: row.field('price').to_f,
quantity: row.field('quantity').to_i

[2020-05-15 12:37] hakanensari commented on #147
@leoplct no answer off the top of my head—you have to go through the various [inventory report types](https://docs.developer.amazonservices.com/en_UK/reports/Reports_ReportType.html#ReportTypeCategories__ListingsReports) if you haven't already done so.

[2020-05-15 12:37] #147 closed

[2020-06-04 09:19] EGimenoS opened #148 "Error: Value null at 'marketplaceId' failed to satisfy constraint: Member must not be null)"
Hello,

peddler 2.4.1
Rails: 6.0.3.1
Ruby: 2.7.1

I'm just trying to replicate in irb a test that is working in Amazon Scratchpad:

I define my client (the error remains the same either using the marketplace shortcut or not)

`client = MWS.orders(marketplace: "ES", merchant_id: ENV["MERCHANT_ID"])`

Inspecting the client object, everything looks as expected:

[code]
Then if I try to retrieve the o

[2020-06-04 13:57] hakanensari commented on #148
It's somewhat counterintuitive, but this operation does not default to your primary marketplace (because the Amazon API doesn't), so you need to specify which marketplace you're querying. See [this example](https://github.com/hakanensari/peddler/blob/master/test/integration/test_orders.rb#L9-L11).

[2020-06-04 16:09] EGimenoS commented on #148
You are totally right, that solved my problem.

Thanks a lot!!

[2020-06-04 16:15] #148 closed

[2020-06-04 20:28] blackwatertepes opened #149 "Missing required parameter SellerId when calling list_order_items"
[code]

The client method calls...
[code]

Any thoughts as to why this isn't working?

[2020-06-04 23:21] #149 closed

[2020-07-05 01:34] Stefan2142 opened #150 "'Access to Orders.ListOrders is denied'"
When I try to run this code (in this issue i didnt include merchant id, access key and secret access key but they were provided in the original request):
[code]

I get (last line from traceback):
C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/peddler-2.4.1/lib/peddler/client.rb:155:in `handle_http_status_error': Access to Orders.ListOrders is denied (Peddler::Errors::AccessDenied)

What am I doing wrong?

[2020-07-05 02:14] travisrr commented on #150
this could be because the seller doesn't have the permissions needed to access List Orders as this function contains PII I believe...

[2020-07-05 02:16] Stefan2142 commented on #150
Thanks for the response! I'm using my own, seller account to automate some order pulling from my store. What do you think, how can I obtain those permissions?

[2020-07-05 22:11] hakanensari commented on #150
If I’m not mistaken, it’s the country code in the final call. When listing orders, you need to provide the marketplace ID.

[2020-07-05 22:36] Stefan2142 commented on #150
Hmm, I tried adding the marketplace id from [here](https://docs.developer.amazonservices.com/en_US/dev_guide/DG_Endpoints.html) but still getting the same "Access denied" error. Code looks like this (i just didnt put in the id's and access key):
[code]
Can the developer access key be rested somehow from my, seller, side?

[2020-07-06 11:26] hakanensari commented on #150
I wasn't clear above; you need to use the ID when calling `Client#list_orders`.

[2020-07-06 14:07] Stefan2142 commented on #150
Sorry, but this is a bit confusing. These are the ID's im passing:

What other id's  I need to pass?

[2020-07-06 17:03] hakanensari commented on #150
If you are still getting the same error, I'm thinking the issue indeed could have to do with access, as @travisrr was pointing out above. You could write to the MWS team through Seller Central to troubleshoot further?

By the way, not sure if it matters, but A2EUQ1WTGCTBG2 is Canada, not the US.

[2020-07-08 15:24] Stefan2142 commented on #150
You were right, I dont have the required access. In fact, my dev creds have expired after 90 days of inactivity. So my status as developer is 'Disabled" and I have to go through process of re-applying. Bummer, but this issue is resolved.

[2020-07-08 19:39] #150 closed

[2020-07-25 22:37] leoplct opened #151 "Report 'GET_XML_BROWSE_TREE_DATA' - Parser - XML - Nil"
I am requesting the '_GET_XML_BROWSE_TREE_DATA_' report.
`self.downloadReport('_GET_XML_BROWSE_TREE_DATA_',` options: {report_options: "BrowseNodeId=454824031"})`

I can successfully retrieve the report .inspect()

[code]

but if I execute puts report.parse() returns

[2020-08-03 13:46] #151 closed

[2020-08-03 13:47] hakanensari commented on #151
@leoplct Thanks for reporting, the above commit should fix this

[2020-08-07 01:40] heythisisnate opened #152 "File permissions issue in peddler 2.4.2"
My application was unable to load peddler 2.4.2 and I tracked it down to a file permissions issue. The ruby files in the distributed gem do not have _read_ permission for non-owner. This is problematic on environments where gems are not owned by the same system user as the running application, making it impossible for the application to load the files.

The file permissions in this github repo app

[2020-08-07 18:28] #152 closed

[2020-08-07 18:33] hakanensari commented on #152
@heythisisnate thanks for reporting this. I inadvertently messed up file permissions in my code folder when trying to cloud sync it. It should all be fixed now.

[2020-08-07 21:29] heythisisnate commented on #152
Thank you for the quick fix!

And thanks for the great library. It took me less than an hour to set up a bot to pull inventory data from my Amazon seller account ...

... then most of the following day trying to figure out why it wasn't working on production 😆

All good now. Cheers. 🍻

[2020-09-23 16:06] IanVaughan opened #153 "RequestThrottled response is not raising as expected"
The readme says that `Peddler::Errors::RequestThrottled` will be raised but its not for me.

[code]

Using `list_financial_events_by_next_token`

[2020-10-12 12:32] hakanensari commented on #153
It sounds like you are running an older version of Peddler? This was added in versions [~>2.0](https://github.com/hakanensari/peddler/blob/master/CHANGELOG.md#200---2018-03-02).

[2020-10-12 13:03] IanVaughan commented on #153
Sorry for not including the versions initially, but we are on a recent version.

[code]

[2020-10-13 10:13] hakanensari commented on #153
You can configure Excon, the underlying HTTP library, to expect certain HTTP status. Could your code by any chance be adding **503** to the [default list](https://github.com/hakanensari/peddler/blob/master/lib/peddler/client.rb#L93-L96)?

[2020-10-29 12:49] TeTiRoss opened #154 "Release SE marketplace support"
Hi! Can you please release SE marketplace support? We started using this marketplace already and need it right now.
As a temp solution I monkey-patched it, but it would be great if this kind of changes would be released right away :)

Thanks!

[2020-10-30 11:28] #154 closed

[2020-11-08 17:07] skatkov opened #155 "Migration to Selling Partner API?"
Hey @hakanensari

Noticed your note in the project. Decided to ask... What about Selling Partner API? anything I can give a hand with? any progress? any plans/estimations?

[2020-11-17 18:38] hakanensari commented on #155
Hey @skatkov, no immediate plans I am afraid. If you have something where you want to switch to the new API, you could take a stab first, and I jump in afterwards?

[2020-11-20 17:37] rdaniels commented on #155
Amazon is forcing us to move to SP-API, have you started coding for this? If not I'm going to start coding for it

[2020-11-20 21:59] skatkov commented on #155
I'm not yeat doing anything on this, still kinda researching if I want to and need to do this.

[2020-12-16 13:22] philsmy commented on #138
Sorry for commenting on this closed issue, but, does this mean we can now use Peddler to upload VAT invoices? If so, is there an example somewhere?

[2020-12-16 14:24] ziptofaf commented on #138
@philsmy

I think it would be something like this:

contents = File.open('invoice.pdf').read
client = MWS::Feeds::Client.new(your_credentials)
feed_options = "metadata:OrderId=#{amazon_id};metadata:InvoiceNumber=#{your_internal_invoice_number}"
client.submit_feed(contents, '_UPLOAD_VAT_INVOICE_', FeedOptions: feed_options)

Or something along these lines anyway.

[2020-12-17 02:21] philsmy commented on #138
Thanks!

[2020-12-23 21:39] Trimakas opened #156 "Did you know the Peddler docs aren't there anymore?"
They just fail..

See this as an example.

https://www.rubydoc.info/gems/peddler/MWS/FulfillmentInventory/Client

Not sure what's up?

[2020-12-27 17:28] ericcj commented on #155
I inquired about MWS for amazon.co.uk and they said "We understand that you are requesting to get access to the MWS API in the UK. Please note that we are no longer accepting registration applications for MWS." so at least there we're already forced to use SP-API.  Between the oauth, LWA, and request signing it's no small effort: https://github.com/amzn/selling-partner-api-docs/blob/main/guides/de

[2020-12-28 10:58] skatkov commented on #155
Interesting if we could crowdfund a rewrite to this library?

We did a rewrite to PA-API v5 before:
https://github.com/hakanensari/vacuum/pull/83

But scope of this rewrite is way bigger (and I really need only one end-point from entire api). Really hard to justify spending so much time for an open source library (while my own projects will suffer from that).

[2020-12-28 12:55] rdaniels commented on #155
I would be willing to contribute financially to this

[2020-12-28 19:12] gbs4ever commented on #156
same problem for me

[2020-12-29 04:07] george-tigoris commented on #155
@ericcj indicated the possibility of using [https://rubygems.org/gems/aws-sigv4/](https://rubygems.org/gems/aws-sigv4/) for the request signing. Has anyone verified if this really works with the SP-API?

If it does and some of us only need a few end-points then we don't have to wait for a ruby client library.

I have not used [https://rubygems.org/gems/aws-sigv4/](https://rubygems.org/gems/aws-sig

[2020-12-30 14:10] hakanensari commented on #156
🤷

[GitHub-triggered docs][1] seem to be generating fine; seems like [a heisenbug][2] on their end?

[1]: https://www.rubydoc.info/github/hakanensari/peddler
[2]: https://github.com/lsegal/yard/issues/1146

[2020-12-30 21:54] skatkov commented on #155
@george-tigoris

Signing is pretty much standardized across different amazon api's. We already used aws-sigv4 in a vacuum rewrite

Check this out:
https://github.com/hakanensari/vacuum/blob/ad60efe9c4c4c6928466836c9d298d2797a48457/lib/vacuum/operation.rb#L68

[2021-01-20 01:13] #153 closed

[2021-01-25 19:05] gavinritchie commented on #155
Hey everyone, we've built a small gem called [muffin_man](https://github.com/patterninc/muffin_man) to interface with the Selling Partner API. So far we've only implemented the Solicitations API because that's what we need right now, but we've got the auth working so it shouldn't be too hard to implement other endpoints. Feel free to contribute and/or use what we have so far.

[2021-02-11 16:58] ericcj commented on #155
@gavinritchie THANK YOU!  We'd like to use several of the other API's and are planning on using swagger-codegen to generate them like https://github.com/amzn/selling-partner-api-models recommends.  It would be helpful if we could leverage (copy and paste) a little bit of your muffin_man code, but selling-partner-api-models is under the Apache 2.0 license and muffin_man is MIT.  Would you be be wil

[2021-02-24 22:43] ericcj commented on #155
I published a rubygem of the codegen for each model they provide with a minimal client based on muffin_man: https://github.com/ericcj/amz_sp_api

[2021-04-06 20:28] iamricks commented on #155
New [update](https://sellercentral.amazon.com/forums/t/important-notice-third-party-developers-using-amazon-mws-orders-reports-and-merchant-fulfillment-api-sections-must-migrate-to-selling-partner-api-by-september-30-2021/818792) from Amazon says we need to make the switch by September 30th, yikes...

[2021-04-23 17:19] joerzepiejewski opened #161 "Version 2.4.4 in rubygems does not have Poland Marketplace ID"
It seems that version 2.4.4 on Rubygems.org does not include Poland marketplace.  How would you like to republish to rubygems?  bump a version 2.4.5 and get it deployed to rubygems.org?

I would not want to fork this and use a version ahead of rubygems.

[2021-04-23 20:34] #161 closed

[2021-05-05 11:13] ytsipun commented on #155
Any plans?

[2021-06-25 10:46] igorkasyanchuk commented on #155
hello, does anyone has a suggestion what is the best option how to migrate to SP-API?

[2021-06-25 13:13] iamricks commented on #155
I'd probably recommend forking [muffin_man](https://github.com/patterninc/muffin_man) and adding all the endpoints you need. It doesn't look like we are getting support from Amazon anytime soon and the deadline for migrating over is in September.

[2021-07-23 16:41] Ajmal-hassan opened #167 "Peddler::Errors::AccessDenied Exception: Access to Orders.ListOrders is denied"
Hello,

I am getting this error after hit the api

[2022-02-17 04:41] ngtban opened #170 "Encoding of responses is not handled correctly"
The response returned from Amazon MWS is encoded in ISO-8859-1, [according their documentation](https://docs.developer.amazonservices.com/en_US/dev_guide/DG_ISO8859.html). However the gem currently does not take this into account and is preserving the encoding of the responses from `excon`. This will cause an issue later, either when parsing or when persisting the parsed data.

In one case where t

[2022-04-16 14:28] #156 closed